{% macro behavior_tree_minimal_component() %}

<script type="text/javascript">

  function render_reason(reason, child_string)
  {
    return `<li><details><summary>${behavior_translate(reason)}</summary><ul>${child_string}</ul></details></li>`;
  }

  function render_action(action)
  {
    return `<li><code class="bg-zinc-100 border-2 w-max rounded-md border-zinc-800">${behavior_translate(action.name)}</code></li>`;
  }

  function render_tree(tree, reason){
    if (tree.children !== undefined)
    {
        let string = `<li><details ><summary class="bg-sky-800 border-2 w-max rounded-md border-zinc-800 text-white">${behavior_translate(tree.name)}</summary><ul>`;
        for (let key in tree.children)
        {
            string += render_tree(tree.children[key], key);
        }
        string += `</ul></details</li>`;
        return render_reason(reason, string);
    }
    else
    {
        if (tree.type === "action")
        {
            return render_reason(reason, render_action(tree));
        }
        else if (tree.type ==="sequence")
        {
            function make_sequence(sequence)
            {
              let sequence_string = "";
              for (let i = 0; i < sequence.length; i++)
              {
                sequence_string += render_action(sequence[i]);
              }
              return sequence_string;
            }
            return render_reason(reason, make_sequence(tree.action_elements));
        }
    }
  }

  function behavior_tree_state() {
    return {
      listener: null,
      init() {
        this.listener = new ROSLIB.Topic({
          ros : ros,
          name : '/debug/dsd/body_behavior/dsd_tree',
          messageType : 'std_msgs/msg/String'
        });
        this.listener.subscribe((message) => {
          const behavior_tree = JSON.parse(message.data);
          let output_string = render_tree(behavior_tree, "START");
          this.$refs.tree.innerHTML = output_string;
        });
      },
      destroy() {
        this.listener.unsubscribe();
      },
    };
  }
</script>

<style>

.tree {
  --spacing: 2rem;
  --radius: 10px;
  box-sizing: unset;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
  min-height: calc(var(--spacing) + 1px);
}

.tree summary {
  height: calc(var(--spacing) + 4px);
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(-0.5 * var(--spacing));
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
  box-shadow: contend-box;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px - 2px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  border: 2px solid #27272A;
  background: #F4F4F5;
  box-sizing: content-box;
}


.tree summary::before {
  z-index: 1;
  background: #00598A url("{{ url_for('static', filename='expand-collapse.svg') }}") 0 0;
}

.tree details[open] > summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}
</style>

<div x-data="behavior_tree_state()" class=" pt-2  py-6 w-100 bg-sky-100">
  <ul class="tree bg-sky-100" x-ref="tree"></ul>
</div>

{% endmacro %}
