<?xml version="1.0"?>
<launch>
    <arg name="nth_image" default="15" doc="records every nth image" />
    <arg name="out_dir" default="/robocup-logs" doc="Output directory" />

    <node name="record_bag_drop_images" pkg="topic_tools" type="drop" 
        args="/camera/image_proc 14 15 /camera/images_to_log" />

    <node name="record_rosbag" pkg="rosbag" type="record"
        args="--output-prefix=ID_$(env ROBOCUP_ROBOT_ID) --tcpnodelay --repeat-latched --lz4" />
</launch>

# Topics to consider
####################

/ball_position_relative_filtered
/ball_relative_filtered
/ball_relative_movement
/balls_in_image
/balls_relative
/camera/images_to_log
/camera_info
/clock
/cmd_vel
/debug/dsd/body_behavior
/debug/dsd/hcm
/debug/dsd/head_behavior
/debug/dsd/localization
/dynamic_kick/goal
/dynup/goal
/field_boundary_in_image
/field_boundary_relative
/gamestate
/goal_posts_in_image
/goal_posts_relative
/goal_relative
/imu/data_raw
/imu_head/data
/joint_states
/line_mask_relative_pc
/line_relative
/line_relative_pc
/move_base/BBPlanner/local_plan
/move_base/NavfnROS/plan
/move_base/current_goal
/move_base/global_costmap/costmap
/move_base/global_costmap/costmap_updates
/move_base/goal
/move_base/local_costmap/costmap
/move_base/local_costmap/costmap_updates
/move_base_simple/goal
/obstacles_in_image
/obstacles_relative
/pose_with_covariance
/robot_state
/rosout
/server_time_clock
/speak
/tf
/tf_static

* behavior: rviz marker für ball approach frame


# Unsure topics
###############

/DynamixelController/command
/debug/approach_point
/debug/ball_twist
/debug/dynamic_kick/debug
/debug/dynamic_kick/received_goal
/debug/dynup/received_goal
/debug/viz_ball
/debug/viz_goal
/debug_markers
/diagnostics_agg
/dynup_engine_debug
/dynup_engine_marker
/field/map
/field/map_metadata
/foot_pressure_left/filtered
/foot_pressure_right/filtered
/game_controller_connected
/goals_simulated
/head_mode
/head_motor_goals
/kick
/kick_motor_goals
/model_states
/motion_odometry
/obstacles
/pause
/record_motor_goals
/rosout_agg
/strategy
/team_data
/walk_debug
/walk_debug_marker
/walk_engine_debug
/walk_engine_odometry
/walk_support_state
