<?xml version="1.0"?>
<launch>
    <include file="$(find wolfgang_robocup_api)/launch/wolfgang_robocup_api_bridge.launch" />

    <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
        <arg name="sim" value="true" />
    </include>

    <rosparam file="$(find bitbots_quintic_walk)/config/walking_wolfgang_robot.yaml" command="load"/>

    <node name="walking" pkg="bitbots_quintic_walk" type="WalkNode" output="screen">
        <remap from="/walking_motor_goals" to="/DynamixelController/command" />
    </node>

    <node name="walk_goals" pkg="rostopic" type="rostopic" args="pub cmd_vel geometry_msgs/Twist
        '{linear: {x: 0.1, y: 0.0, z: 0.0}, angular: {x: 0.0, y: 0.0, z: 0.0}}'"/>

</launch>
