<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false" />

    <include file="$(find-pkg-share bitbots_parameter_blackboard)/launch/parameter_blackboard.launch">
        <arg name="sim" value="$(var sim)"/>
    </include>

    <include file="$(find-pkg-share bitbots_robot_description)/launch/load_robot_description.launch" >
        <arg name="sim" value="$(var sim)"/>
    </include>

    <include file="$(find-pkg-share bitbots_head_mover)/launch/head_mover.launch">
        <arg name="sim" value="$(var sim)"/>
    </include>

</launch>
