<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="sim" default="false" />
    <arg name="dsd_file" default="main.dsd" description="The behavior dsd file that should be used" />

    <include file="$(find-pkg-share bitbots_parameter_blackboard)/launch/parameter_blackboard.launch">
        <arg name="sim" value="$(var sim)" />
    </include>

    <include file="$(find-pkg-share bitbots_body_behavior)/launch/behavior.launch">
        <arg name="dsd_file" value="$(var dsd_file)" />
        <arg name="sim" value="$(var sim)" />
    </include>
</launch>
