<!DOCTYPE html>
<html class="h-full">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2@6.4.9/lib/eventemitter2.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>  
</head>

<body class="h-full bg-cover bg-linear-to-bl/oklch from-indigo-300 to-teal-200">
  <div class="flex justify-center p-4 bg-zinc-50 border-b-2 border-zinc-800 shadow-md">
    <h1 class="text-2xl">Inner workings of robot</h1>
  </div>
  <div class="grid grid-cols-2 gap-2 mx-2 my-30 ">
    <a href="pages/imu.html" class="flex justify-center flex-col border-2 border-zinc-800 rounded-2xl bg-zinc-50 shadow-md">
      <div class="flex justify-center flex-col">
        <div class="flex justify-center">
          <div style="width: 70%;" hx-get="../components/imu.html" hx-trigger="load" hx-swap="innerHTML"></div>
        </div>
        <p class="pb-4 px-2 text-center">imu</p>
      </div>
    </a>
    <a href="pages/vision.html" class="relative overflow-hidden justify-center flex-col border-2 border-zinc-800 rounded-2xl bg-zinc-50 shadow-md">
      <div class="flex justify-center flex-col">
        <div style="width: 100%;" hx-get="../components/vision.html" hx-trigger="load" hx-swap="innerHTML"></div>
        <p class="pb-4 px-2 text-center">vision</p>
      </div>
    </a> 
    <a href="pages/motor_heat.html" class="flex justify-center flex-col border-2 border-zinc-800 rounded-2xl bg-zinc-50 shadow-md">
      <div class="flex justify-center flex-col">
        <div class="flex justify-center">
          <div style="width: 70%;" hx-get="../components/imu.html" hx-trigger="load" hx-swap="innerHTML"></div>
        </div>
        <p class="pb-4 px-2 text-center">motor heat</p>
      </div>
    </a>
    <a href="pages/behavior.html" class="flex justify-center flex-col border-2 border-zinc-800 rounded-2xl bg-zinc-50 shadow-md">
      <div class="flex justify-center flex-col">
        <div hx-get="../components/vision.html" hx-trigger="load" hx-swap="outerHTML"></div>
        <p class="pb-4 px-2 text-center">behavior</p>
      </div> 
    </a>  
  </div>
</body>
</html>
