<launch>
    <!-- fake pointcloud -->
    <node name="fake_pointcloud" pkg="bitbots_localization" type="fake_pointcloud.py" />

    <!-- fake laserscan -->
    <include file="$(find bitbots_localization)/launch/pointcloud_to_laserscan.launch" />

    <!-- load map -->
    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find bitbots_localization)/models/d125.yaml"/>

    <!-- particle filter -->
    <node name="amcl_particlefilter"  pkg="amcl" type="amcl" output="screen">

       <param name="min_particles" value="100"/>
        <param name="max_particles" value="5000"/>
        <param name="kld_err" value="0.001"/>
        <param name="kld_z" value="0.5"/>

        <param name="update_min_d" value="0.001"/>
        <param name="update_min_a" value="0.01"/>

        <param name="resample_interval" value="1"/>

        <param name="initial_pose_x" value="2.0"/>
        <param name="initial_pose_y" value="0.0"/>
        <param name="initial_pose_a" value="3.14"/>
        <param name="initial_cov_xx" value="4.0"/>
        <param name="initial_cov_yy" value="5.0"/>
        <param name="initial_cov_aa" value="3.14"/>

        <param name="gui_publish_rate" value="1.0"/>

        <param name="use_map_topic" value="true" />
        <param name="first_map_only" value="true"/>

        <param name="recovery_alpha_slow" value="0.001"/>
        <param name="recovery_alpha_fast" value="0.1"/>


        <param name="tf_broadcast" value="true"/>
        <param name="base_frame_id" value="base_footprint" />


    </node>

    <!-- hotfix nomotion update -->
    <node name="amcl_nomotion_update" pkg="bitbots_localization" type="amcl_nomotion_update.py" />

</launch>
