PyYAML
breathe
construct
defusedxml
deprecated
filterpy
matplotlib
numpy
opencv-python
pip
protobuf
psutil
pydot
pyopencl
pytorchyolo
rosdep
rospkg
setuptools
silx
sklearn
transforms3d
git+https://github.com/catkin/catkin_tools.git
