PyYAML
breathe
catkin_tools
construct
defusedxml
deprecated
filterpy
matplotlib
numpy
opencv-python
pip
protobuf
psutil
pydot
pyopencl
pytorchyolo
pyttsx3
rosdep
rospkg
setuptools
scikit-learn==0.24.0
sklearn
transforms3d
git+https://github.com/SammyRamone/stable-baselines3.git
git+https://github.com/bit-bots/deep_quintic.git
git+https://github.com/ruffsl/colcon-clean
git+https://github.com/DLu/tf_transformations/
git+https://github.com/Flova/pyastar2d