<?xml version="1.0"?>
<launch>
    <arg name="audio" default="false" description="Whether the audio system should be started" />
    <arg name="behavior" default="true" description="Whether the behavior control system should be started" />
    <arg name="behavior_dsd_file" default="main.dsd" description="The behavior dsd file that should be used" />
    <arg name="game_controller" default="false" description="Whether the Gamecontroller module should be started" />
    <arg name="ipm" default="true" description="Whether the inverse perspective mapping should be started"/>
    <arg name="localization" default="true" description="Whether the localization system should be started" />
    <arg name="motion" default="false" description="Whether the motion control system should be started" />
    <arg name="path_planning" default="true" description="Whether the path planning should be started"/>
    <arg name="sim" default="false" description="Whether the robot is running in simulation or on real hardware" />
    <arg name="teamcom" default="false" description="Whether the team communication system should be started" />
    <arg name="vision" default="true" description="Whether the vision system should be started" />
    <arg name="world_model" default="true" description="Whether the world model should be started"/>
    <arg name="monitoring" default="false" description="Whether the system monitor and udp bridge should be started" />
    <arg name="record" default="false" description="Whether the ros bag recording should be started" />
    <arg name="tts" default="false" description="Whether to speak" />


    <!-- load the global parameters -->
    <include file="$(find-pkg-share bitbots_parameter_blackboard)/launch/parameter_blackboard.launch">
        <arg name="sim" value="$(var sim)" />
    </include>

    <!-- load the diagnostic aggregator -->

    <!-- load the robot description -->

    <!-- load the motion -->
    <group if="$(var motion)">
        <include file="$(find-pkg-share bitbots_bringup)/launch/motion.launch">
            <arg name="sim" value="$(var sim)"/>
            <arg name="tts" value="$(var tts)" />
        </include>
    </group>

    <!-- load the highlevel stuff -->
    <include file="$(find-pkg-share bitbots_bringup)/launch/highlevel.launch">
        <arg name="audio" value="$(var audio)" />
        <arg name="behavior" value="$(var behavior)" />
        <arg name="behavior_dsd_file" value="$(var behavior_dsd_file)" />
        <arg name="game_controller" value="$(var game_controller)" />
        <arg name="ipm" value="$(var ipm)" />
        <arg name="localization" value="$(var localization)" />
        <arg name="path_planning" value="$(var path_planning)" />
        <arg name="sim" value="$(var sim)" />
        <arg name="teamcom" value="$(var teamcom)" />
        <arg name="vision" value="$(var vision)" />
        <arg name="world_model" value="$(var world_model)" />
    </include>

    <!-- load monitoring -->
    <group if="$(var monitoring)">
        <group unless="$(var sim)">
            <include file="$(find-pkg-share bitbots_bringup)/launch/monitoring.launch" />
        </group>
    </group>

    <!-- record rosbag -->
    <group if="$(var record)">
        <include file="$(find-pkg-share bitbots_bringup)/launch/rosbag_record.launch.py">
            <arg name="sim" value="$(var sim)" />
        </include>
    </group>
</launch>
