<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <!-- Get launch params-->
    <arg name="sim" default="false" description="true: activates simulation time, switches to simulation color settings and deactivates launching of an image provider" />
    <arg name="camera" default="false" description="true: launches an image provider to get images from a camera (unless sim:=true)" />
    <arg name="debug" default="false" description="true: activates publishing of several debug images" />

    <!-- Start the vision-->
    <include file="$(find-pkg-share bitbots_vision)/launch/vision.launch">
        <arg name="sim" value="$(var sim)" />
        <arg name="debug" value="$(var debug)" />
    </include>

    <!-- Start the camera only when necessary -->
    <group if="$(var camera)">
        <group unless="$(var sim)">
            <include file="$(find-pkg-share bitbots_basler_camera)/launch/basler_camera.launch" />
        </group>
    </group>
</launch>
