<?xml version="1.0"?>
<launch>
    <!-- arguments -->
    <arg name="behavior" default="true" description="if the behavior should be started" />
    <arg name="ipm" default="false" description="if the soccer ipm should be used" />
    <arg name="motion" default="true" description="if the motion should be started" />
    <arg name="game_controller" default="false" description="if the game controller node should be started" />

    <!-- load the global parameters -->
    <include file="$(find-pkg-share bitbots_utils)/launch/parameter_blackboard.launch" />

    <!-- publish dummy imu -->
    <node name="dummy_imu" pkg="bitbots_utils" exec="dummy_imu.py" />

    <!-- launch motion nodes -->
    <include if="$(var motion)" file="$(find-pkg-share bitbots_bringup)/launch/motion.launch">
        <arg name="viz" value="true" />
    </include>

    <!-- launch highlevel nodes, except vision and ipm (we have fake vision instead) -->
    <include file="$(find-pkg-share bitbots_bringup)/launch/highlevel.launch">
        <arg name="behavior" value="$(var behavior)" />
        <arg name="ipm" value="$(var ipm)" />
        <arg name="localization" value="false" />
        <arg name="game_controller" value="$(var game_controller)" />
        <arg name="vision" value="false" />
        <arg name="ipm" value="false" />
    </include>

    <!-- simulate localization -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="static_map2odom_tf" args="--x -0.0 --y -0.0 --z 0.0 --qx 0.0 --qy 0.0 --qz 0.0 --qw 1.0 --frame-id map --child-frame-id odom" />

    <!-- translate joint goals to joint states -->
    <node name="motor_goals_viz_helper" pkg="bitbots_utils" exec="motor_goals_viz_helper.py"/>

    <!-- add some visualization tools -->
    <include file="$(find-pkg-share bitbots_team_communication)/launch/team_comm_test_marker.launch">
        <arg name="rviz" value="false" />
    </include>
</launch>
