<launch>

    <arg name="ns" default="robot1" />


    <remap from="$(arg ns)/camera/image_raw" to="$(arg ns)/image_raw"/>

    <param name="/use_sim_time" value="true" />
    <include file="$(find minibot_description)/launch/minibot_robocup.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>

    <include file="$(find bitbots_vision_common)/launch/vision_processing.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>
    <!--<node name="cameraview" pkg="bitbots_imageviewer" type="bitbots_imageviewer.py"/>-->

    <include file="$(find bitbots_body_behaviour)/launch/start_behaviour_standalone.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>


    <include file="$(find bitbots_transform)/launch/transforms.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>


    <include file="$(find bitbots_localisation)/launch/localisation_amcl.launch">
         <arg name="ns" value="$(arg ns)" />
    </include>



</launch>