<launch>
    <arg name="ns" default="minibot" />

    <param name="/use_sim_time" value="true" />
    
    <param name="robot_description" textfile="$(find minibot_description)/urdf/minibot.urdf" />  

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find humanoid_league_gazebo_world)/worlds/robocup_soccer.world"/>
		<arg name="paused" value="false" />
	</include>
  
    <node name="spawn_urdf" pkg="gazebo_ros" ns="$(arg ns)" type="spawn_model" args="-file $(find minibot_description)/urdf/minibot.urdf -urdf -model minibot -x -1.5 -y 0.0 -z 0.0" />

    <rosparam file="$(find minibot_description)/config/minibot_control.yaml" command="load"/>


    <!-- load the controllers -->
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
       output="screen" ns="minibot" args="joint_state_controller joint_trajectory_action_controller --shutdown-timeout 0.1" />

      <!-- convert joint states to TF transforms for rviz, etc -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/minibot/joint_states" />
      </node>



  <!--<node name="rviz" pkg="rviz" type="rviz" output="screen"
      args="-d $(find minibot_description)/config/minibot.rviz" >

  </node>-->

</launch>