<launch>

    <arg name="ns" default="" />

    <remap from="$(arg ns)/camera/image_raw" to="$(arg ns)/image_raw"/>


    <param name="/use_sim_time" value="true" />
    <include file="$(find minibot_description)/launch/minibot_robocup.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>

    <param name="/camera_v4l/resolution/width" value="800" />
    <param name="/camera_v4l/resolution/height" value="600" />
    <group ns="$(arg ns)">
        <remap from="cmd_vel" to="/minibot/cmd_vel"/>

        <include file="$(find bitbots_vision_common)/launch/vision_processing_wf.launch"/>

        <node name="image_marker" pkg="humanoid_league_image_marker" type="image_marker.py"/>

        <include file="$(find bitbots_body_behaviour)/launch/start_behaviour_standalone.launch"/>

        <include file="$(find bitbots_transform)/launch/transforms.launch"/>

        <include file="$(find humanoid_league_team_communication)/launch/team_comm.launch"/>

        <!--<include file="$(find bitbots_localisation)/launch/localisation_amcl.launch"/>-->

        <include file="$(find bitbots_hcm)/launch/start_hcm_minibot_simulation.launch"/>
    </group>

</launch>