<launch>
    <arg name="wftransform" default="true"/>
    <arg name="duty" default="TeamPlayer"/>
    <arg name="hcm" default="true"/>
    <arg name="simulator" default="false"/>



    <group if="$(arg simulator)">
        <include file="$(find bitbots_vision_common)/launch/vision_simulator.launch"/>
    </group>

    <group unless="$(arg simulator)">
        <include file="$(find bitbots_vision_common)/launch/vision_startup.launch"/>
    </group>


    <group if="$(arg wftransform)">
        <include file="$(find wolves_relative_transformer)/launch/wolves_relative_transformer.launch"/>
    </group>

    <group unless="$(arg wftransform)">
        <include file="$(find bitbots_transform)/launch/transforms.launch"/>
    </group>


    <include file="$(find bitbots_body_behaviour)/launch/start_behaviour_standalone.launch">
        <arg name="duty" value="$(arg duty)" />
    </include>
    <include file="$(find humanoid_league_team_communication)/launch/team_comm.launch"/>
    <include file="$(find game_controller)/launch/game_controller.launch" />

    <!--<include file="$(find bitbots_localisation)/launch/localisation_amcl.launch"/>-->

    <group if="$(arg hcm)">
        <group if="$(arg simulator)">
             <include file="$(find bitbots_hcm)/launch/start_hcm_minibot_simulation.launch"/>
         </group>
         <group unless="$(arg simulator)">
           <include file="$(find bitbots_hcm)/launch/start_hcm_minibot_robot.launch"/>
        </group>
    </group>

</launch>
