<launch>
    <arg name="sim" default="false"/>
    <arg name="hcm" default="true"/>
    <arg name="behave" default="true"/>
    
    <arg name="minibot" default="false"/>
    <arg name="wolfgang" default="false"/>
    
    <arg name="sim_ns" default="/" />

    <arg name="duty" default="TeamPlayer"/>

    <include file="$(find bitbots_common)/launch/load_robot_description.launch">
        <arg name="minibot" value="$(arg minibot)"/>
        <arg name="wolfgang" value="$(arg wolfgang)"/>   
    </include>

    <include file="$(find bitbots_vision_common)/launch/vision_startup.launch">
        <arg name="sim" value="$(arg sim)" />
    </include>

    <include file="$(find bitbots_transform)/launch/transforms.launch"/>
    <include file="$(find humanoid_league_team_communication)/launch/team_comm.launch"/>
    <include file="$(find bitbots_localisation)/launch/localisation_amcl.launch"/>
    <include file="$(find bitbots_cm730)/launch/cm730.launch" />
    

    <group if="$(arg behave)">
        <include file="$(find bitbots_body_behaviour)/launch/behaviour.launch">
            <arg name="duty" value="$(arg duty)" />
        </include>
    </group>

    <group if="$(arg hcm)">
        <include file="$(find bitbots_common)/launch/motion.launch">
            <arg name="sim" value="$(arg sim)"/>
            <arg name="minibot" value="$(arg minibot)"/>
            <arg name="wolfgang" value="$(arg wolfgang)"/>            
        </include>
    </group>

</launch>