<launch>
    <arg name="camera" default="true" doc="true: launches an image provider to get images from a camera" />

    <include if="$(arg camera)" file="$(find bitbots_bringup)/launch/basler_camera.launch" />

    <node pkg="rosbag" type="record" name="rosbag_record_cam"
        args="-o /tmp/tmpbag.bag camera/image_proc camera_info" />
</launch>
