<launch>
    <!-- Get launch params-->
    <arg name="sim" default="false" doc="true: activates simulation time, switches to simulation color settings and deactivates launching of an image provider" />
    <arg name="camera" default="true" doc="true: launches an image provider to get images from a camera (unless sim:=true)" />
    <arg name="basler" default="true" doc="true: launches the basler camera driver instead of the wolves image provider" />
    <arg name="dummyball" default="false" doc="true: does not start the ball detection to save resources" />
    <arg name="debug" default="false" doc="true: activates publishing of several debug images" />
    <arg name="use_game_settings" default="false" doc="true: loads additional game settings" />

    <let if="$(env IS_ROBOT false)" name="taskset" value="taskset -c 6,7"/>
    <let unless="$(env IS_ROBOT false)" name="taskset" value=""/>

    <!-- Start the vision-->
    <node pkg="bitbots_vision" exec="vision" name="bitbots_vision" output="screen" launch-prefix="$(var taskset)">
         <!-- Set vision config -->
        <param from="$(find-pkg-share bitbots_vision)/config/visionparams.yaml" />

        <!-- Load special sim parameters-->
        <param if="$(var sim)" from="$(find-pkg-share bitbots_vision)/config/simparams.yaml"/>

        <!-- Set debug params-->
        <param name="vision_publish_debug_image" value="$(var debug)" />
        <param name="vision_publish_HSV_mask_image" value="$(var debug)" />
        <param name="vision_publish_field_mask_image" value="$(var debug)" />

        <!-- Start vision without ball detection-->
        <param name="neural_network_type" value="dummy" if="$(var dummyball)"/>

        <param name="use_sim_time" value="true" if="$(var sim)"/>
    </node>
</launch>
