<launch>

    <arg name="sim" default="false"/>
    <arg name="dummyball" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="dynColor" default="true"/>

    <!-- start vision for wolfgang (fcnn)-->
    <group unless="$(arg dummyball)">
        <node pkg="bitbots_vision" type="vision.py" name="bitbots_vision" output="screen">
            <rosparam command="load" file="$(find bitbots_vision)/config/visionparams.yaml"/>
            <param name="vision_debug_image_msg" value="$(arg debug)"/>
            <param name="vision_ball_classifier" value="fcnn"/>
        </node>
    </group>

    <!-- start vision without balldetection-->
    <group if="$(arg dummyball)">
        <node pkg="bitbots_vision" type="vision.py" name="bitbots_vision" output="screen">
            <rosparam command="load" file="$(find bitbots_vision)/config/visionparams.yaml"/>
            <param name="vision_debug_image_msg" value="$(arg debug)"/>
            <param name="vision_ball_classifier" value="dummy"/>
        </node>
    </group>

    <!-- start the camera only when necessary -->
    <group unless="$(arg sim)">
        <include file="$(find wolves_image_provider)/launch/image_provider.launch" />
    </group>

    <!-- remap stuff to fit the robot -->
    <group if="$(arg sim)">
        <remap to ="/camera/image_raw" from="/image_raw"/>
    </group>

    <!-- start vision with dynamic colorspace -->
    <group unless="$(arg dynColor)">
        <node pkg="bitbots_dynamic_colorspace" type="dynamic_colorspace.py" name="bitbots_dynamic_colorspace" output="screen">
            <rosparam command="load" file="$(find bitbots_vision)/config/visionparams.yaml"/>
            <param name="dynamic_colorspace" value="$(arg dynColor)"/>
        </node>
    </group>        
</launch>

