<launch>
    <arg name="sim" default="false"/>
    <arg name="dummyball" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="use_game_settings" default="false"/>



    <!-- start vision for wolfgang (fcnn)-->
    <group unless="$(arg dummyball)">
        <node pkg="bitbots_vision" type="vision.py" name="bitbots_vision" output="screen">
            <rosparam command="load" file="$(find bitbots_vision)/config/visionparams.yaml"/>
            <param name="vision_ball_classifier" value="fcnn" />
            <param name="vision_publish_debug_image" value="$(arg debug)"/>
            <param name="vision_use_sim_color" value="$(arg sim)"/>
        </node>
    </group>

    <!-- start vision without balldetection-->
    <group if="$(arg dummyball)">
        <node pkg="bitbots_vision" type="vision.py" name="bitbots_vision" output="screen">
            <rosparam command="load" file="$(find bitbots_vision)/config/visionparams.yaml"/>
            <param name="vision_publish_debug_image" value="$(arg debug)"/>
            <param name="vision_ball_classifier" value="dummy" />
            <param name="vision_use_sim_color" value="$(arg sim)"/>
        </node>
    </group>

    <group if="$(arg use_game_settings)">
        <rosparam command="load" file="$(find bitbots_bringup)/config/game_settings.yaml" />
    </group>

    <!-- start dynamic-color-space node -->
    <node pkg="bitbots_vision" type="dynamic_color_space.py" name="bitbots_dynamic_color_space" output="screen"></node>

    <!-- start the camera only when necessary -->
    <group unless="$(arg sim)">
        <include file="$(find wolves_image_provider)/launch/image_provider.launch" />
    </group>

    <!-- remap stuff to fit the robot -->
    <group if="$(arg sim)">
        <param name="use_sim_time" value="true"/>
        <remap to ="/camera/image_raw" from="/image_raw"/>
    </group>

</launch>
