<launch>

  <node pkg="livelybot_power" exec="power_node" name="power_node" output="screen"/>

  <node pkg="livelybot_bringup" exec="motor_feedback" name="motor_feedback" output="screen">
    <param from="$(find-pkg-share livelybot_serial)/config/robot.yaml"/>
  </node>

  <node pkg="livelybot_oled" exec="livelybot_oled_node" name="livelybot_oled_node" output="screen">
    <param from="$(find-pkg-share livelybot_serial)/config/robot.yaml"/>
  </node>
</launch>
