<launch>
    <arg name="debug" default="false"/>

    <group if="$(arg debug)">
        <rosparam command="load" file="$(find bitbots_vision_cascade)/config/debug_visionparams.yaml" />
    </group>
    <group unless="$(arg debug)">
        <rosparam command="load" file="$(find bitbots_vision_cascade)/config/visionparams.yaml" />
    </group>
    <node pkg="bitbots_vision_cascade" type="vision.py" name="bitbots_vision_cascade" output="screen" >
    </node>
</launch>
