<launch>
    <arg name="sim" default="false" doc="Disables some checks for hardware, since we are in simulation."/>
    <arg name="viz" default="false" doc="Disables all checks for hardware, since we are in visualization."/>

    <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <node if="$(arg viz)" name="motor_helper" pkg="bitbots_bringup" type="motor_goals_viz_helper.py" />

    <include file="$(find bitbots_animation_server)/launch/animation.launch">
    </include>

    <include file="$(find bitbots_hcm)/launch/hcm.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="viz" value="$(arg viz)"/>
    </include>

</launch>
