<launch>
    <arg name="sim" default="false" doc="Disables checks for hardware, since we are in simulation."/>

    <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
        <arg name="sim" value="$(arg sim)"/>          
    </include>
    
    <include file="$(find bitbots_hcm)/launch/hcm.launch">
        <arg name="sim" value="$(arg sim)"/>          
    </include>

</launch>
