<launch>
    <include file="$(find humanoid_league_speaker)/launch/speaker.launch"/>

    <rosparam param="actionlib_client_sub_queue_size">-1</rosparam>
    <rosparam param="actionlib_server_sub_queue_size">-1</rosparam>

    <include file="$(find bitbots_buttons)/launch/buttons.launch"/>

    <node name="pause" pkg="bitbots_pause" type="pause.py" respawn="true"/>

    <include file="$(find bitbots_animation_server)/launch/animation.launch"/>

    <rosparam file="$(find bitbots_cm730)/config/cm730.yaml" command="load"/>
    <rosparam file="$(find bitbots_cm730)/config/mx28config.yaml" command="load"/>

    <include file="$(find rhoban_walking)/launch/walking.launch"/>

    <rosparam file="$(find bitbots_hcm)/config/hcm.yaml" command="load"/>
    <rosparam file="$(find bitbots_hcm)/config/hcm_state_machine.yaml" command="load"/>
    <node name="HCM" pkg="bitbots_hcm" type="hardware_control_manager.py" args="" output="screen" respawn="true"/>

</launch>