<launch>
    <include file="$(find humanoid_league_speaker)/launch/speaker.launch"/>

    <node name="buttons" pkg="bitbots_buttons" type="button_node.py" />

    <node name="pause" pkg="bitbots_pause" type="pause.py"/>

    <include file="$(find bitbots_animation_server)/launch/animation.launch"/>

    <rosparam file="$(find bitbots_cm730)/config/cm730.yaml" command="load"/>
    <rosparam file="$(find bitbots_cm730)/config/mx28config.yaml" command="load"/>

    <include file="$(find bitbots_walking)/launch/walking.launch"/>

    <rosparam file="$(find bitbots_hcm)/config/hcm.yaml" command="load"/>
    <rosparam file="$(find bitbots_hcm)/config/hcm_state_machine.yaml" command="load"/>
    <node name="HCM" pkg="bitbots_hcm" type="hardware_control_manager.py" args="" output="screen" respawn="false"/>

</launch>