<launch>
    <arg name="tf_prefix" default=""/>
    <arg name="depends_only" default="false" />
    <arg name="sim" default="false" />

    <let if="$(env IS_ROBOT false)" name="taskset" value="taskset -c 10"/>
    <let unless="$(env IS_ROBOT false)" name="taskset" value=""/>


    <node unless="$(var depends_only)" pkg="bitbots_head_behavior" exec="head_node"  output="screen" launch-prefix="$(var taskset)">
        <param from="$(find-pkg-share bitbots_body_behavior)/config/body_behavior.yaml"/>
        <param from="$(find-pkg-share bitbots_head_behavior)/config/head_config.yaml"/>
        <param name="camera_frame" value="$(var tf_prefix)camera"/>
        <param name="base_link_frame" value="$(var tf_prefix)base_link"/>
        <param name="odom_frame" value="$(var tf_prefix)odom"/>
        <param name="map_frame" value="$(var tf_prefix)map"/>
        <param name="ball_frame" value="$(var tf_prefix)ball"/>
        <param name="ball_approach_frame" value="$(var tf_prefix)ball_approach_frame"/>
        <param name="base_footprint_frame" value="$(var tf_prefix)base_footprint"/>
        <param name="use_sim_time" value="$(var sim)" />
    </node>
</launch>
