{% import "components/current_action.html" as current_action_components %}
{% import "components/behavior_stack.html" as behavior_stack_component %}
{% import "components/behavior_tree.html" as behavior_tree_component %}
{% import "components/textbox.html" as components %}
{% import "components/icon_footer.html" as icon_components %}

{% extends "base.html" %}

{% block banner %}Behavior{% endblock %}

{% block content %}
    <script type="text/javascript">
        function behavior_visualization_change() {
            return {
                stack: true,
                toggleStack() {
                    this.stack = !this.stack;
                },
            };
          }
    </script>
<div class="bg-sky-100 overflow-hidden" x-data="behavior_visualization_change()">


    <dev class=" flex flex-row justify-center mt-1">
        <label for="defaultToggle" class=" inline-flex items-center gap-3">
            <input id="defaultToggle" x-model="stack" type="checkbox" class="peer sr-only" role="switch" checked  />
            <span class="trancking-wide text-sm font-medium text-zinc-800 peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Baum</span>
            <div class="relative h-6 w-11 after:h-5 after:w-5 peer-checked:after:translate-x-5 rounded-full border border-neutral-300 bg-neutral-50 after:absolute after:bottom-0 after:left-[0.0625rem] after:top-0 after:my-auto after:rounded-full after:bg-zinc-800 after:transition-all after:content-[''] peer-checked:bg-zinc-800 peer-checked:after:bg-neutral-100 peer-focus:outline-2 peer-focus:outline-offset-2 peer-focus:outline-neutral-800 peer-focus:peer-checked:outline-black peer-active:outline-offset-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70" aria-hidden="true"></div>
            <span class="trancking-wide text-sm font-medium text-zinc-800 peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Stapel</span>
        </label>
    </dev>


    <div x-show="stack">
        {{ behavior_stack_component.behavior_stack_component() }}
    </div>
    <div x-show="!stack">
        {{ behavior_tree_component.behavior_tree_component() }}
    </div>
    {{ components.textbox("Warum ändern sich die Boxen und wieso haben sie unterschiedliche Farben?",
    "Jede Box steht für eine Entscheidung oder eine Aktion, die der Roboter macht. Dabei macht er meist viele unterschiedliche Abwägungen (blaue Boxen),
    bis er sich am Ende für eine Aktion entscheidet, die er dann ausführt (helle Box). Zusätzlich steht auch unter jeder Entscheidung neben dem Pfeil nach unten,
    wofür der Roboter sich entschieden hat. Da der Roboter während des Spiels in unterschiedliche Situationen kommt, ändert sich seine Entscheidungen dementsprechend.
    Sollten Sie sich eine Reihe an Entscheidungen etwas länger angucken wollen, können sie auf den Button unter der Aktion drücken und können damit den Fluss an Entscheidungen
    anhalten und wieder starten. ", true) }}
    {{ components.textbox("Vergleich zum Menschen", "Das Verhalten ist ähnlich zur Entscheidungsfindung des Menschen, wobei durch kleine Entscheidungen verschiedene Einflüsse abgewogen werden,
    bis sich der Roboter für eine endgültige Aktion entscheidet.", true)}}
    {{ components.textbox("Nutzen im Roboter", "Das Verhalten steuert, wo der Roboter hin läuft und was er als Nächstes tut.
    Hier sind Strategien für das Spiel gespeichert, also Spielzüge, wer wann zum Ball stürmt oder als Verteidiger zurück bleibt. Um diese Entscheidungen treffen zu können,
    bekommt das Verhalten sehr viele Informationen von anderen Softwarekomponenten, wie zum Beispiel die Position des Balls von der Bildverarbeitung.", true)}}
    {{ components.textbox("Wie funktioniert das Verhalten?", "Im Vergleich zur Bildverarbeitung ist das Verhalten nicht gelernt, sondern besteht aus vielen Abwägungen ähnlich zu: wenn X, dann Y.
    Wobei X und Y durch einen Informatiker im Code festgelegt worden sind. Es gibt verschiedene Strukturen in denen man diese Abwägungen ordnen kann. Darunter Endliche Automaten oder Entscheidungsbäume.
    Doch die Bit-Bots haben sich eine eigene Struktur überlegt: den Dynamic Stack Decider (kurz DSD, in Deutsch so was wie dynamischer Stapel Entscheider). Der DSD ist zunächst sehr ähnlich zu einem
    Entscheidungsbaum. Die Baumstruktur entsteht dabei durch die verschiedenen Antwortmöglichkeiten auf eine Entscheidung. Oben in der Visualisierung sehen sie nur die gewählten
    Antworten, aber sie können sich vorstellen, dass jede Entscheidung eine Astgabelung darstellt und je nach Antwort der eine oder der andere Ast ausgewählt wird. Was der DSD nun besonders macht,
    ist, dass er sich für den aktuell ausgewählten Pfad für jede Entscheidung Zusatzinformationen merkt, indem er die gemachten Entscheidungen auf einen Stapel legt. Ändert sich nun der Pfad,
    weil ein Entscheidung sich an einer Stelle aufgrund einer veränderten Spielsituation ändert, ändert sich auch der ganze Stapel da drüber und alles was sich die Software dort
    gemerkt hat, wird zurückgesetzt.", false)}}
</div>
{% endblock %}

{% block icons %}
    {{ icon_components.icons("behavior") }}
{% endblock %}

