
{% import "components/textbox.html" as components %}
{% import "components/motor_heat.html" as heat_components %}
{% import "components/icon_footer.html" as icon_components %}


{% extends "base.html" %}

{% block banner %}Motoren{% endblock %}

{% block content %}
<div class="flex justify-center flex-col bg-sky-100">

    {{ heat_components.motor_heat_component(false) }}

    {{ components.textbox("Was sind das für bunte Punkte auf dem Roboter?", "Jeder farbige Punkt, außer dem obersten Punkt, zeigt den jeweils wärmsten Motor des Gelenkes an.
    Desto weiter rechts die Farbe des Punktes auf der Skala unter dem Roboter dabei ist, desto wärmer ist der wärmste Motor an der Stelle. Die Wärme des wärmsten Motor im ganzen Roboter ist an
    der Tmerperatur ganz rechts an der Skala abzulesen. Ganz links an der Sakala ist die Temperatur des kältesten Motors im Roboter angegeben. Der meist rote Punkt zwischen den Augen steht für die 
    Kamera des Roboters. Diese ist meist deutlich wärmer als die Motoren und setzt damit mit ihrer Tmerperatur den obersten Wert in der Skala.", true, ture, false) }}
    {{ components.textbox("Vergleich zum Menschen", "Die Motoren sind wie Muskeln, die den Roboter bewegen. Mit der Zeit werden die Motoren durch die Bewegung immer wärmer, ähnlich dazu, wie uns Menschen beim Sport meist auch wärmer wird. Je wärmer die Motoren werden, desto ungenauer werden sie, wodurch der Roboter über die Zeit hinweg
    immer schlechter läuft. Ähnlich dazu, wie wir Menschen durch Sport erschöpfter werden.", true,false, false)}}
    <div style="width: 100%;" class="grid place-items-center px-20 py-6 bg-sky-100 ">
        <img  src="{{ url_for('static', filename='motor.png') }}" x-ref="motor"></img>
        <p class="text-center text-base text-zinc-900">Dieses Motormodell ist aktuell vor allem in den Beinen zu finden.</p>
    </div>
    {{ components.textbox("Nutzen im Roboter", "Die Motoren braucht der Roboter vor allem für seine Fortbewegung, sie unterstützen jedoch auch die Bilderkennung. Mit seinen Beinen läuft er über das Ganze Feld,
    während seine Arme ihm beim Aufstehen helfen, wenn er mal hingefallen ist. Die Motoren im Kopf bewegen die Kamera,
     damit er sich noch besser auf dem Feld umsehen und orientieren kann.", true, false, false)}}
    {{ components.textbox("Wie gut können Roboter laufen?", "Wir Menschen laufen unser Leben lang, meist auch schon ab sehr jungen Jahren. Einmal gelernt, machen wir die Bewegungsabläufe fast schon automatisch.
    Darüber hinaus helfen uns unsere Reflexe bei der Laufstabilisierung ohne, dass wir aktiv etwas entscheiden müssen. Um nun einen Roboter zum Laufen zu bringen, müssen wir verstehen,
    welche Bewegungsabläufe wir Menschen beim Laufen machen und diese auf den Roboter übertragen, was gar nicht so einfach ist, weil vieles am Laufen z.B. auch das Gleichgewicht halten,
    eher ein unbewusster Prozess ist. Daher ist vor allem das zweibeinige Laufen ein relativ schweres Problem für Roboter bzw. für herkömmliche Algorithmen. Hier wird dann mit
    sogenannten Splines gearbeitet, was am Ende schön geschwungene Kurven zwischen Punkten auf einem Graphen sind, die die Bewegung der Füße zeigen. Mittlerweile benutzen viele Roboter bestärkendes
     Lernen (eine Form von KI), hierbei lernt der Roboter das Laufen mehr wie ein Mensch. Dabei soll der Roboter in einer Simulation versuchen zu laufen, schafft er dies, wird er
    belohnt, schafft er es nicht, wird ihm das auch mitgeteilt und er versucht einen neuen Ansatz. Meist ist das Laufen lernen hier auch ein Prozess, der über viele Wiederholungen
    stattfindet, dann aber auch bessere Ergebnisse liefert, als herkömmliche Algorithmen.", false, false, true)}}
</div>
{% endblock %}

{% block icons %}
{{ icon_components.icons("heat") }}
{% endblock %}




