<launch>

    <node name="fake_laser" pkg="bitbots_localisation" type="fake_laserdata.py" />

    <node name="map_server" pkg="map_server" type="mapserver">
        <arg value="$(find bitbots_localisation)/models/linemap.yaml"/>
    </node>
    <node name="amcl_particlefilter" pkg="amcl" type="amcl">

    </node>
</launch>