<launch>
  <arg name="sim" default="false"/>

  <group unless="$(var sim)">
    <include file="$(find-pkg-share livelybot_bringup)/launch/lowlevel.launch" />
  </group>

  <include file="$(find-pkg-share bitbots_parameter_blackboard)/launch/parameter_blackboard.launch.py">
    <arg name="sim" value="$(var sim)"/>
  </include>
  <include file="$(find-pkg-share bitbots_robot_description)/launch/load_robot_description.launch">
    <arg name="sim" value="$(var sim)"/>
  </include>

  <include file="$(find-pkg-share bitbots_animation_server)/launch/animation.launch">
    <arg name="sim" value="$(var sim)"/>
  </include>
  <!-- the animation node requires the HCM to enter and leave the animation play mode -->
  <include file="$(find-pkg-share bitbots_hcm)/launch/hcm.launch">
    <arg name="sim" value="$(var sim)"/>
  </include>
</launch>
