<launch>
    <arg name="tf_prefix" value="$(eval optenv('ROS_NAMESPACE') + '/' if optenv('ROS_NAMESPACE') !=  '' else '')"/>
    <arg name="sim" default="false"/>

      <group unless="$(arg sim)">
            <rosparam file="$(find bitbots_dynup)/config/dynup_robot.yaml" command="load"/>
      </group>
      <group if="$(arg sim)">
            <rosparam file="$(find bitbots_dynup)/config/dynup_sim.yaml" command="load"/>
      </group>

    <arg if="$(optenv IS_ROBOT false)" name="taskset" default="taskset -c 3"/>
    <arg unless="$(optenv IS_ROBOT false)" name="taskset" default=""/>

  <node pkg="bitbots_dynup" name="dynup" type="DynupNode" output="screen" launch-prefix="$(arg taskset)">
    <param name="base_link_frame" value="$(arg tf_prefix)base_link"/>
    <param name="r_sole_frame" value="$(arg tf_prefix)r_sole"/>
    <param name="l_sole_frame" value="$(arg tf_prefix)l_sole"/>
    <param name="r_wrist_frame" value="$(arg tf_prefix)r_wrist"/>
    <param name="l_wrist_frame" value="$(arg tf_prefix)l_wrist"/>
  </node>
</launch>
