<?xml version="1.0"?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="use_game_settings" default="false" />

  <include file="$(find bitbots_bringup)/launch/load_robot_description.launch" >
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <group unless="$(arg sim)">
    <include file="$(find bitbots_ros_control)/launch/ros_control.launch" />
    <rosparam file="$(find bitbots_dynup)/config/pid_config.yaml" command="load"/>
  </group>
  <group if="$(arg sim)">
    <include file="$(find wolfgang_pybullet_sim)/launch/simulation.launch" />
    <rosparam file="$(find bitbots_dynup)/config/pid_config.yaml" command="load"/>
  </group>

  <rosparam file="$(find bitbots_dynup)/config/pid_config.yaml" command="load"/>
  <rosparam file="$(find bitbots_dynup)/config/dynup_robot.yaml" command="load"/>
  <node name="dynup" pkg="bitbots_dynup" type="DynupNode" output="screen">
    <remap from="/animation_motor_goals" to="/DynamixelController/command"/>
  </node>

</launch>
