<?xml version="1.0"?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="use_game_settings" default="false" />

  <include file="$(find-pkg-share bitbots_bringup)/launch/load_robot_description.launch" >
    <arg name="sim" value="$(var sim)"/>
  </include>

  <group unless="$(var sim)">
    <include file="$(find-pkg-share bitbots_ros_control)/launch/ros_control.launch" />
    <param from="$(find-pkg-share bitbots_dynup)/config/dynup_robot.yaml" command="load"/>
  </group>
  <group if="$(var sim)">
    <param from="$(find-pkg-share bitbots_dynup)/config/dynup_sim.yaml" command="load"/>
  </group>

  <arg if="$(env IS_ROBOT false)" name="taskset" default="taskset -c 3"/>
  <arg unless="$(env IS_ROBOT false)" name="taskset" default=""/>

  <node name="dynup" pkg="bitbots_dynup" exec="DynupNode" output="screen" launch-prefix="$(var taskset)">
    <remap from="/dynup_motor_goals" to="/DynamixelController/command"/>
  </node>

</launch>
