<?xml version="1.0"?>
<launch>
    <!-- camera driver -->
    <node name="ceiling_cam" pkg="pylon_camera" type="pylon_camera_node" output="screen">
        <rosparam command="load" file="$(find bitbots_ceiling_cam)/config/camera_settings_ceiling_cam.yaml" />
        <!-- the driver is publishing an uncessary rect image -->
        <remap from="/ceiling_cam/image_rect" to="/ceiling_cam/bad_image_rect"/>
    </node>

    <group ns="/ceiling_cam">
        <node pkg="nodelet" type="nodelet" args="standalone image_proc/debayer" name="debayer">
        </node>

        <node pkg="nodelet" type="nodelet" args="standalone image_proc/rectify" name="rectify">
        </node>

        <rosparam command="load" file="$(find bitbots_ceiling_cam)/config/april_tag_settings.yaml" ns="april_tag_detection"/>
        <rosparam command="load" file="$(find bitbots_ceiling_cam)/config/april_tags.yaml" ns="april_tag_detection"/>


        <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="april_tag_detection" clear_params="true" output="screen">
            <param name="camera_frame" type="str" value="ceiling_cam" />
            <param name="publish_tag_detections_image" type="bool" value="true" />
        </node>
    </group>

</launch>
