<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false" description="If true, we don't capture audio" />
    <arg name="dst" default="appsink"/>
    <arg name="device" default=""/>
    <arg name="format" default="wave"/>
    <arg name="bitrate" default="128"/>
    <arg name="channels" default="1"/>
    <arg name="depth" default="16"/>
    <arg name="sample_rate" default="10000"/>
    <arg name="sample_format" default="S16LE"/>
    <arg name="ns" default="audio"/>
    <arg name="audio_topic" default="audio" />

    <group unless="$(var sim)">
        <node
            pkg="audio_common"
            exec="audio_capturer_node"
            name="audio_capturer_node"
            ns="$(var ns)"
            output="screen">

            <param name="format" value="$(var format)"/>
            <param name="channels" value="$(var channels)"/>
            <param name="rate" value="$(var sample_rate)"/>
            <param name="chunk" value="$(var bitrate)"/>
            <param name="device" value="$(var device)"/>
            <param name="frame_id" value="$(var dst)"/>

            <remap from="audio" to="$(var audio_topic)"/>
        </node>
    </group>
</launch>
