<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <!-- Get launch params-->
    <arg name="sim" default="false" description="true: activates simulation time, switches to simulation color settings and deactivates launching of an image provider" />
    <arg name="camera" default="true" description="true: launches an image provider to get images from a camera (unless sim:=true)" />
    <arg name="debug" default="false" description="true: activates publishing of several debug images" />
    <arg name="fixed_exposure_auto_gain" default="false" description="Use fixed camera exposure with software-controlled automatic gain" />
    <arg name="camera_exposure" default="20" description="Fixed ZED exposure in the range 0 to 100" />

    <!-- Start the vision-->
    <include file="$(find-pkg-share bitbots_vision)/launch/vision.launch">
        <arg name="sim" value="$(var sim)" />
        <arg name="debug" value="$(var debug)" />
    </include>

    <!-- Start the camera only when necessary -->
    <group if="$(var camera)">
        <group unless="$(var sim)">
            <include file="$(find-pkg-share zed_wrapper)/launch/zed_camera.launch.py">
                <arg name="camera_model" value="zedm" />
                <arg name="publish_urdf" value="false" />
            </include>
            <node if="$(var fixed_exposure_auto_gain)"
                  pkg="bitbots_vision"
                  exec="fixed_exposure_auto_gain"
                  name="fixed_exposure_auto_gain"
                  output="screen">
                <param from="$(find-pkg-share bitbots_vision)/config/fixed_exposure_auto_gain.yaml" />
                <param name="exposure" value="$(var camera_exposure)" />
            </node>
        </group>
    </group>
</launch>
