<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="amy" doc="The name of the robot, also used as tf prefix" />
  <arg name="void_controller" default="false" doc="If set to true, the robot is not controllable" />
  <arg name="void_flag" value="$(eval '--void-controller' if arg('void_controller') else '')" doc="do not set, used internally" />

  <node pkg="wolfgang_webots_sim" type="start_single.sh" name="webots_ros_interface"
        args="--robot_name $(arg robot_name) $(arg void_flag)">
    <param name="base_link_frame" value="$(arg robot_name)base_link"/>
    <param name="r_sole_frame" value="$(arg robot_name)r_sole"/>
    <param name="l_sole_frame" value="$(arg robot_name)l_sole"/>
    <param name="camera_optical_frame" value="$(arg robot_name)camera_optical_frame"/>
    <param name="head_imu_frame" value="$(arg robot_name)imu_frame_2"/>
    <param name="imu_frame" value="$(arg robot_name)imu_frame"/>
  </node>
</launch>
