<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <arg name="resize" default="true"/>
    <node pkg="pylon_camera" type="pylon_camera_node" name="pylon_camera_node" output="screen">
        <rosparam command="load" file="$(find pylon_camera)/config/camera_settings.yaml"/>
        <param name="device_user_id" value="$(optenv ROBOT_NAME)" />
        <param name="camera_info_url" value="package://pylon_camera/config/camera_calibration_$(optenv ROBOT_NAME default).yaml" />
        <remap from="~camera_info" to="/camera_info" />
    </node>
    <group if="$(arg resize)">
        <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

        <node pkg="nodelet" type="nodelet" args="load image_proc/debayer standalone_nodelet" name="debayer">
            <remap from="image_raw"  to="/pylon_camera_node/image_raw" />
            <remap from="image_color" to="debayered_image" />
        </node>
        <node pkg="nodelet" type="nodelet" args="load image_proc/resize standalone_nodelet" name="resizer">
            <remap from="/image"  to="debayered_image" />
            <remap from="~image" to="/image_resized" />
            <rosparam command="load" file="$(find bitbots_bringup)/config/resizer.yaml"/>
        </node>
        <node pkg="nodelet" type="nodelet" args="load white_balancer/WhiteBalanceNodelet standalone_nodelet" name="white_balancer">
            <rosparam command="load" file="$(find white_balancer)/config/config.yaml"/>
        </node>
    </group>
</launch>
