<launch>
    <arg name="sim" default="false"/>
    <arg name="motion" default="true"/>
    <arg name="behave" default="true"/>
    <arg name="vision" default="false"/>
    <arg name="teamcom" default="false"/>
    <arg name="localization" default="false"/>

    <arg name="use_game_settings" default="true"/>
    
    <arg name="sim_ns" default="/" />

    <include file="$(find system_monitor)/launch/system_monitor.launch">
        <arg name="required" value="false" />
    </include>

    <include file="$(find humanoid_league_game_controller)/launch/game_controller.launch">
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
    </include>

    <group if="$(arg vision)">
        <include file="$(find bitbots_vision)/launch/vision_startup.launch">
            <arg name="sim" value="$(arg sim)" />
            <arg name="debug" value="true" />
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <include file="$(find humanoid_league_transform)/launch/transformer.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="use_game_settings" value="$(arg use_game_settings)"/>
    </include>

    <group if="$(arg teamcom)">
        <include file="$(find humanoid_league_team_communication)/launch/team_comm.launch">
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <group if="$(arg localization)">
        <include file="$(find bitbots_localization)/launch/localization_amcl.launch">
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <include file="$(find bitbots_move_base)/launch/pathfinding_move_base.launch">
        <arg name="localization" value="$(arg localization)"/>
    </include>
    <!-- include file="$(find bitbots_bezier_pathfinding)/launch/bezier_pathfinding.launch">
        <arg name="use_game_settings" value="$(arg use_game_settings)"/>
    </include -->

    <group if="$(arg behave)">
        <include file="$(find bitbots_body_behavior)/launch/behavior.launch">
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>
</launch>
