<launch>
    <arg name="sim" default="false"/>
    <arg name="motion" default="true"/>
    <arg name="behave" default="true"/>
    <arg name="vision" default="true"/>
    <arg name="teamcom" default="false"/>
    <arg name="localization" default="false"/>
    <arg name="simple" default="false" doc="Whether to use the simple behavior" />
    <arg name="basler" default="true" doc="Defines the robot camera type"/>
    <arg name="gamecontroller" default="true" doc="Sets whether the Gamecontroller should be started"/>

    <arg name="use_game_settings" default="true"/>

    <arg name="sim_ns" default="/" />

    <group if="$(arg gamecontroller)">
        <include file="$(find humanoid_league_game_controller)/launch/game_controller.launch">
                <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <group if="$(arg vision)">
        <include file="$(find bitbots_vision)/launch/vision_startup.launch">
            <arg name="sim" value="$(arg sim)" />
            <arg name="basler" value="$(arg basler)" />
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <include file="$(find humanoid_league_transform)/launch/transformer.launch">
        <arg name="use_game_settings" value="$(arg use_game_settings)"/>
    </include>

    <group if="$(arg teamcom)">
        <include file="$(find humanoid_league_team_communication)/launch/team_comm.launch">
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <group if="$(arg localization)">
        <include file="$(find bitbots_localization)/launch/localization_amcl.launch">
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <include file="$(find bitbots_move_base)/launch/pathfinding_move_base.launch">
        <arg name="localization" value="$(arg localization)"/>
    </include>

    <group if="$(arg behave)">
        <include file="$(find bitbots_body_behavior)/launch/behavior.launch">
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
            <arg name="simple" value="$(arg simple)"/>
        </include>
    </group>
</launch>
