<?xml version="1.0"?>
<launch>
    <!-- a bit hacky as we can not have an empty string as default value for an environment variable -->
    <let name="tf_prefix" value="$(eval '\'$(env ROS_NAMESPACE not_defined)\' if \'$(env ROS_NAMESPACE not_defined)\' != \'not_defined\' else \'\'')"/>
    <arg name="sim" default="false"/>
    <arg name="sim_ns" default="/" description="namespace for gazebo plugins" />
    <arg name="fake_walk" default="False" description="fake walk controller for simulation" />

    <!-- global parameters -->
    <node name="parameter_blackboard" pkg="demo_nodes_cpp" exec="parameter_blackboard">
        <param name="simulation_active" value="$(var sim)"/>
        <param name="/use_sim_time" value="$(var sim)"/>

        <param name="robot_type_name" value="Wolfgang"/>

    </node>

    <group>
            <include file="$(find-pkg-share bitbots_bringup)/launch/load_robot_description_python.py"/>
    </group>


    <group>
        <include file="$(find-pkg-share humanoid_base_footprint)/launch/base_footprint.launch"/>
        <include file="$(find-pkg-share bitbots_convenience_frames)/launch/convenience_frames.launch"/>
    </group>

    <group unless="$(var fake_walk)">
        <include file="$(find-pkg-share bitbots_odometry)/launch/odometry.launch"/>
    </group>
</launch>
