<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>
    <arg name="viz" default="false"/>
    <arg name="walking" default="true" doc="start the walking" />
    <arg name="use_game_settings" default="false"/>
    <arg name="torqueless_mode" default="false" doc="start without torque, for example for testing the falling detection"/>

    <!-- load the general game settings -->
    <group if="$(arg use_game_settings)">
        <rosparam command="load" file="$(find bitbots_bringup)/config/game_settings.yaml" />
    </group>

    <!-- if not in simulation or visualization, launch ros_control -->
    <group unless="$(arg sim)">
        <group unless="$(arg viz)">
            <include file="$(find bitbots_ros_control)/launch/ros_control.launch">
                <arg name="use_game_settings" value="$(arg use_game_settings)"/>
                <arg name="torqueless_mode" value="$(arg torqueless_mode)" />
            </include>
            <node name="set_volume" pkg="bitbots_bringup" type="set_volume.sh" args="100%" />
        </group>
    </group>

    <!-- launch the animation server -->
    <include file="$(find bitbots_animation_server)/launch/animation.launch">
        <arg name="use_game_settings" value="$(arg use_game_settings)"/>
    </include>

    <!-- launch the walking -->
    <group if="$(arg walking)">
        <include file="$(find bitbots_quintic_walk)/launch/quintic_walk.launch">
            <arg name="sim" value="$(arg sim)"/>
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <!-- launch the hcm -->
    <include file="$(find bitbots_hcm)/launch/hcm.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="viz" value="$(arg viz)"/>
        <arg name="use_game_settings" value="$(arg use_game_settings)"/>
    </include>

    <!-- launch the kick -->
    <include file="$(find bitbots_dynamic_kick)/launch/dynamic_kick.launch"/>

    <!-- launch dynup -->
    <include file="$(find bitbots_dynup)/launch/dynup.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>
</launch>
