<launch>
    <arg name="sim" default="false"/>

    <rosparam param="actionlib_client_sub_queue_size">-1</rosparam>
    <rosparam param="actionlib_server_sub_queue_size">-1</rosparam>

    <include file="$(find humanoid_league_speaker)/launch/speaker.launch"/>
    <include file="$(find bitbots_buttons)/launch/buttons.launch"/>

    <include file="$(find bitbots_animation_server)/launch/animation.launch"/>

    <group unless="$(arg sim)">
        <include file="$(find bitbots_ros_control)/launch/ros_control.launch"/>
        <include file="$(find bitbots_quintic_walk)/launch/quintic_walk.launch">
            <arg name="sim" value="$(arg sim)"/>
        </include>
    </group>
    


    <include file="$(find bitbots_hcm)/launch/hcm.launch">
        <arg name="sim" value="$(arg sim)"/> 
    </include>

</launch>
