<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>
    <arg name="torqueless_mode" default="false" description="start without torque, for example for testing the falling detection"/>

    <include file="$(find-pkg-share bitbots_bringup)/launch/load_robot_description.launch">
        <arg name="sim" value="$(var sim)"/>
    </include>

    <include file="$(find-pkg-share bitbots_bringup)/launch/motion.launch">
        <arg name="sim" value="$(var sim)"/>
        <arg name="torqueless_mode" value="$(var torqueless_mode)" />
    </include>
</launch>
