<?xml version="1.0"?>
<launch>
    <!-- set parameters -->
    <arg name="fake_walk" default="false"/>

    <param name="/simulation_active" value="true"/>
    <param name="/use_sim_time" value="true" />

    <!-- remaps necessary for other parts of our software -->
    <remap from="camera/image_raw" to="camera/image_proc"/>
    <remap from="camera/camera_info" to="camera_info"/>

    <!-- load robot description -->
    <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
        <arg name="sim" value="true"/>
        <arg name="fake_walk" default="$(arg fake_walk)"/>
    </include>

    <!-- launch motion and webots with soccer field -->
    <group if="$(arg fake_walk)">
        <include file="$(find wolfgang_webots_sim)/launch/simulation.launch">
        </include>
        <!-- launch the motion without the walking -->
        <include file="$(find bitbots_bringup)/launch/motion.launch">
            <arg name="sim" value="true"/>
            <arg name="walking" value="false"/>
        </include>
    </group>
    <group unless="$(arg fake_walk)">
        <include file="$(find wolfgang_webots_sim)/launch/simulation.launch">
        </include>
        <!-- launch the motion including the walking -->
        <include file="$(find bitbots_bringup)/launch/motion.launch">
            <arg name="sim" value="true"/>
        </include>
    </group>
</launch>
