<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false" description="Whether the robot is running in simulation or on real hardware" />
    <arg name="motion" default="true" description="Whether the motion control system should be started" />
    <arg name="behavior" default="true" description="Whether the behavior control system should be started" />
    <arg name="game_controller" default="false" description="Whether the Gamecontroller module should be started" />
    <arg name="localization" default="true" description="Whether the localization system should be started" />
    <arg name="teamcom" default="false" description="Whether the team communication system should be started" />
    <arg name="vision" default="true" description="Whether the vision system should be started" />
    <!-- load the robot description -->
    <include file="$(find-pkg-share bitbots_utils)/launch/base.launch">
        <arg name="sim" value="$(var sim)" />
    </include>

    <!-- load the motion -->
    <group if="$(var motion)">
        <include file="$(find-pkg-share bitbots_bringup)/launch/motion.launch">
            <arg name="sim" value="$(var sim)"/>
        </include>
    </group>

    <!-- load the highlevel stuff -->
    <include file="$(find-pkg-share bitbots_bringup)/launch/highlevel.launch">
        <arg name="behavior" value="$(var behavior)" />
        <arg name="game_controller" value="$(var game_controller)" />
        <arg name="localization" value="$(var localization)" />
        <arg name="sim" value="$(var sim)" />
        <arg name="teamcom" value="$(var teamcom)" />
        <arg name="vision" value="$(var vision)" />
    </include>

    <!-- load some monitoring tools -->
    <include file="$(find-pkg-share bitbots_utils)/launch/tools.launch" />
</launch>
