<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>
    <arg name="use_game_settings" default="true"/>
    <arg name="motion" default="true"/>
    <arg name="behavior" default="true"/>
    <arg name="simple" default="false" doc="whether to use the simple behavior" />
    <arg name="game_controller" default="true" doc="Sets whether the Gamecontroller should be started"/>
    <arg name="localization" default="false"/>
    <arg name="teamcom" default="false"/>
    <arg name="vision" default="true"/>

    <!-- load the robot description -->
    <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
        <arg name="sim" value="$(arg sim)" />
    </include>

    <!-- load the motion -->
    <group if="$(arg motion)">
        <include file="$(find bitbots_bringup)/launch/motion.launch">
            <arg name="sim" value="$(arg sim)"/>
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>

    <!-- load the highlevel stuff -->
    <include file="$(find bitbots_bringup)/launch/highlevel.launch">
        <arg name="behavior" value="$(arg behavior)" />
        <arg name="game_controller" value="$(arg game_controller)" />
        <arg name="localization" value="$(arg localization)" />
        <arg name="sim" value="$(arg sim)" />
        <arg name="simple" value="$(arg simple)" />
        <arg name="teamcom" value="$(arg teamcom)" />
        <arg name="vision" value="$(arg vision)" />
    </include>

    <!-- load some monitoring tools -->
    <include file="$(find bitbots_bringup)/launch/tools.launch" />
</launch>
