<launch>
    <arg name="sim" default="false"/>
    <arg name="motion" default="true"/>
    <arg name="behave" default="true"/>
    <arg name="vision" default="true"/>
    <arg name="teamcom" default="false"/>
    <arg name="localization" default="false"/>
    <arg name="simple" default="false"/>  <!-- whether to use the simple behavior -->
    <arg name="gazebo" default="false"/>
    <!-- defines camera type -->
    <arg name="basler" default="true" doc="Defines the robot camera type"/>
    <arg name="gamecontroller" default="true" doc="Sets whether the Gamecontroller should be started"/>

    <arg name="use_game_settings" default="true"/>

    <arg name="sim_ns" default="/" />

    <group unless="$(arg gazebo)">
        <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
            <arg name="sim" value="$(arg sim)" />
            <arg name="basler" value="$(arg basler)" />
        </include>
    </group>

    <include file="$(find bitbots_bringup)/launch/highlevel.launch">
        <arg name="basler" value="$(arg basler)" />
        <arg name="sim" value="$(arg sim)" />
        <arg name="behave" value="$(arg behave)" />
        <arg name="vision" value="$(arg vision)" />
        <arg name="teamcom" value="$(arg teamcom)" />
        <arg name="localization" value="$(arg localization)" />
        <arg name="simple" value="$(arg simple)" />
        <arg name="gamecontroller" value="$(arg gamecontroller)" />
    </include>

    <include file="$(find bitbots_bringup)/launch/tools.launch" />

    <group if="$(arg motion)">
        <include file="$(find bitbots_bringup)/launch/motion.launch">
            <arg name="sim" value="$(arg sim)"/>
            <arg name="use_game_settings" value="$(arg use_game_settings)"/>
        </include>
    </group>
</launch>
