<?xml version="1.0"?>
<launch>
    <!-- arguments -->
    <arg name="behavior" default="true" description="if the behavior should be started" />
    <arg name="ipm" default="false" description="if the soccer ipm should be used" />
    <arg name="localization" default="false" description="if the localization should be used" />
    <arg name="motion" default="true" description="if the motion should be started" />
    <arg name="game_controller" default="false" description="if the game controller node should be started" />

    <!-- set visualization parameter -->
    <!--param name="visualization_active" value="true" /-->

    <!-- load the robot description -->
    <include file="$(find-pkg-share bitbots_utils)/launch/base.launch" />

    <!-- publish dummy imu -->
    <node name="dummy_imu" pkg="bitbots_utils" exec="dummy_imu.py" />

    <!-- launch motion nodes -->
    <include if="$(var motion)" file="$(find-pkg-share bitbots_bringup)/launch/motion.launch">
        <arg name="viz" value="true" />
    </include>

    <!-- launch highlevel nodes, except vision and transformer (we have fake vision instead) -->
    <include file="$(find-pkg-share bitbots_bringup)/launch/highlevel.launch">
        <arg name="behavior" value="$(var behavior)" />
        <arg name="ipm" value="$(var ipm)" />
        <arg name="localization" value="$(var localization)" />
        <arg name="game_controller" value="$(var game_controller)" />
        <arg name="vision" value="false" />
        <arg name="transformer" value="false" />
    </include>

    <!-- translate joint goals to joint states -->
    <node name="motor_goals_viz_helper" pkg="bitbots_utils" exec="motor_goals_viz_helper.py"/>

    <!-- add some visualization tools -->
    <include file="$(find-pkg-share humanoid_league_interactive_marker)/launch/interactive_marker.launch">
        <arg name="rviz" value="false" />
    </include>
    <include file="$(find-pkg-share humanoid_league_team_communication)/launch/team_comm_test_marker.launch">
        <arg name="rviz" value="false" />
    </include>
    <!-- <node name="show_world_model_objects" pkg="bitbots_body_behavior" exec="show_world_model_objects.py" output="screen"/> -->
</launch>
