<?xml version="1.0"?>
<launch>
    <!-- a bit hacky as we can not have an empty string as default value for an environment variable -->
    <let name="tf_prefix" value="$(eval '\'$(env ROS_NAMESPACE not_defined)\' if \'$(env ROS_NAMESPACE not_defined)\' != \'not_defined\' else \'\'')"/>
    <arg name="sim" default="false"/>
    <arg name="sim_ns" default="/" description="namespace for gazebo plugins" />
    <arg name="fake_walk" default="False" description="fake walk controller for simulation" />
    <arg name="robot_type" default="wolfgang" description="what kind of robot should be started" />

    <!-- global parameters -->
    <node name="parameter_blackboard" pkg="demo_nodes_cpp" exec="parameter_blackboard" args="--ros-args --log-level WARN">
        <param name="simulation_active" value="$(var sim)"/>
        <param name="use_sim_time" value="$(var sim)"/>
        <param from="$(find-pkg-share bitbots_utils)/config/global_parameters.yaml" />
        <param from="$(find-pkg-share bitbots_utils)/config/game_settings.yaml" />
    </node>

    <group>
        <include file="$(find-pkg-share bitbots_utils)/launch/move_group.py">
          <arg name="sim" value="$(var sim)"/>
          <arg name="robot_type" value="$(var robot_type)"/>
        </include>
    </group>


    <group>
        <include file="$(find-pkg-share bitbots_extrinsic_calibration)/launch/calibration.launch">
          <arg name="sim" value="$(var sim)"/>
        </include>
    </group>

    <group>
        <node pkg="humanoid_base_footprint" exec="base_footprint" output="screen">
          <param name="support_state_topics" value="[walk_support_state, dynamic_kick_support_state]"/>
          <param name="use_sim_time" value="$(var sim)"/>
        </node>
        <include file="$(find-pkg-share bitbots_convenience_frames)/launch/convenience_frames.launch">
          <arg name="sim" value="$(var sim)"/>
        </include>
    </group>

    <group unless="$(var fake_walk)">
        <include file="$(find-pkg-share bitbots_odometry)/launch/odometry.launch">
          <arg name="sim" value="$(var sim)"/>
        </include>
    </group>
</launch>
