<?xml version="1.0"?>
<launch>
    <arg name="monitoring" default="true" description="true: start system monitor and udp bridge" />

    <group if="$(var monitoring)">
        <include file="$(find-pkg-share system_monitor)/launch/system_monitor.launch">
            <arg name="required" value="false" />
        </include>

        <include file="$(find-pkg-share udp_bridge)/launch/send.launch" />
    </group>
</launch>
