<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>

    <!-- global parameters -->
    <node name="parameter_blackboard" pkg="demo_nodes_cpp" exec="parameter_blackboard" args="--ros-args --log-level WARN">
        <param name="simulation_active" value="$(var sim)"/>
        <param name="use_sim_time" value="$(var sim)"/>
        <param from="$(find-pkg-share bitbots_utils)/config/global_parameters.yaml" />
        <param from="$(find-pkg-share bitbots_utils)/config/game_settings.yaml" />
    </node>
</launch>
