<launch>
    <arg name="sim" default="false"/>
    <arg name="viz" default="true"/>
    <include file="$(find-pkg-share bitbots_nav2)/launch/pathfinding_nav2.launch">
        <arg name="sim" value="$(var sim)"/>
    </include>
    <include file="$(find-pkg-share bitbots_quintic_walk)/launch/test.launch" >
        <arg name="sim" value="$(var sim)"/>
        <arg name="viz" value="$(var viz)"/>
    </include>
    <node pkg="tf2_ros" exec="static_transform_publisher" name="static_map2odom_tf" args="--x -0.0 --y -0.0 --z 0.0 --qx 0.0 --qy 0.0 --qz 0.0 --qw 1.0 --frame-id map --child-frame-id odom" />
</launch>
