<library path="src">
  <class name="RecordUI" type="bitbots_animation_rqt.record_ui.RecordUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to record joint space animations.
    </description>
    <qtgui>
      <group>
        <label>RoboCup</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to RoboCup.</statustip>
      </group>
      <label>Bit-Bots Animation</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin to record joint space animations.</statustip>
    </qtgui>
  </class>
</library>
