<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <let if="$(env IS_ROBOT false)" name="taskset" value="taskset -c 6,7"/>
    <let unless="$(env IS_ROBOT false)" name="taskset" value=""/>

    <arg name="ipm" default="true" description="Whether the inverse perspective mapping should be started"/>
    <arg name="localization" default="true" description="Whether the localization system should be started" />
    <arg name="motion" default="true" description="Whether the motion control system should be started" />
    <arg name="path_planning" default="true" description="Whether the path planning should be started"/>
    <arg name="sim" default="false" description="Whether the robot is running in simulation or on real hardware" />
    <arg name="vision" default="true" description="Whether the vision system should be started" />
    <arg name="world_model" default="true" description="Whether the world model should be started"/>
    <arg name="field_name" default="obstacle_avoidance_challenge_robocup2024" description="Name of the field used. "/>

    <!-- load the global parameters -->
    <include file="$(find-pkg-share bitbots_parameter_blackboard)/launch/parameter_blackboard.launch">
        <arg name="sim" value="$(var sim)" />
        <arg name="fieldname" value="$(var field_name)" />
    </include>

    <!-- load the robot description -->
    <include file="$(find-pkg-share bitbots_robot_description)/launch/load_robot_description.launch">
        <arg name="sim" value="$(var sim)"/>
    </include>

    <!-- load the motion -->
    <group if="$(var motion)">
        <include file="$(find-pkg-share bitbots_bringup)/launch/motion.launch">
            <arg name="sim" value="$(var sim)"/>
        </include>
    </group>

    <!-- load the highlevel stuff -->
    <include file="$(find-pkg-share bitbots_bringup)/launch/highlevel.launch">
        <arg name="ipm" value="$(var ipm)" />
        <arg name="localization" value="$(var localization)" />
        <arg name="path_planning" value="$(var path_planning)" />
        <arg name="sim" value="$(var sim)" />
        <arg name="vision" value="$(var vision)" />
        <arg name="world_model" value="$(var world_model)" />
        <arg name="game_controller" value="false" />
    </include>

    <node pkg="bitbots_obstacle_avoidance_challenge" exec="bitbots_obstacle_avoidance_challenge" name="bitbots_obstacle_avoidance_challenge" output="screen" launch-prefix="$(var taskset)">

    </node>
    <node pkg="bitbots_obstacle_avoidance_challenge" exec="navigate_to_other_side" name="navigate_to_other_side" output="screen" launch-prefix="$(var taskset)">

    </node>
</launch>
