<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <let if="$(env IS_ROBOT false)" name="taskset" value="taskset -c 6,7"/>
    <let unless="$(env IS_ROBOT false)" name="taskset" value=""/>

    <node pkg="bitbots_obstacle_avoidance_challenge" exec="bitbots_obstacle_avoidance_challenge" name="bitbots_obstacle_avoidance_challenge" output="screen" launch-prefix="$(var taskset)">
    </node>
</launch>
