<launch>
  <arg name="sim" default="false"/>
    <arg if="$(optenv IS_ROBOT false)" name="taskset" default="taskset -c 3"/>
    <arg unless="$(optenv IS_ROBOT false)" name="taskset" default=""/>

  <group unless="$(arg sim)">
    <include file="$(find bitbots_ros_control)/launch/ros_control.launch" />
  </group>

    <include file="$(find bitbots_bringup)/launch/load_robot_description.launch" />
    <node name="animation" pkg="bitbots_animation_server" type="animation_node.py"  output="screen" launch-prefix="$(arg taskset)"/>
    <node name="animation_hcm_bridge" pkg="bitbots_animation_server" type="animation_hcm_bridge.py"  output="screen" launch-prefix="$(arg taskset)"/>
</launch>