<?xml version="1.0"?>
<launch>
    <arg name="behavior" default="true" description="Whether the behavior control system should be started" />
    <arg name="behavior_dsd_file" default="main.dsd" description="The behavior dsd file that should be used" />

    <node pkg="bitbots_auto_test" exec="auto_test" name="auto_test" output="screen">
    </node>

    <!-- load the general simulator -->
    <include file="$(find-pkg-share bitbots_webots_sim)/launch/simulation.launch">
        <arg name="fake_localization" value="true" />
        <arg name="fake_localization_ball" value="true" />
        <arg name="camera" value="false" />
    </include>

    <!-- load teamplayer software stack -->
    <include file="$(find-pkg-share bitbots_bringup)/launch/teamplayer.launch">
        <arg name="behavior" value="$(var behavior)" />
        <arg name="behavior_dsd_file" value="$(var behavior_dsd_file)" />
        <arg name="game_controller" value="false"/>
        <arg name="ipm" value="false" />
        <arg name="localization" value="false" />
        <arg name="motion" value="true" />
        <arg name="sim" value="true" />
        <arg name="path_planning" value="true" />
        <arg name="teamcom" value="false" />
        <arg name="vision" value="false"/>
        <arg name="world_model" value="false"/>
    </include>

    <include file="$(find-pkg-share bitbots_auto_test)/launch/rosbag_record_test.launch.py">
    </include>

</launch>
