<library path="src">
  <class name="TeamDataSimulator" type="bitbots_team_data_sim_rqt.team_data_ui.TeamDataSimulator" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to simulate team data.
    </description>
    <qtgui>
      <group>
        <label>RoboCup</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to RoboCup.</statustip>
      </group>
      <label>Bit-Bots Team Data Sim</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin to simulate team data.</statustip>
    </qtgui>
  </class>
</library>
