<?xml version="1.0"?>
<launch>
    <include file="$(find-pkg-share rosbridge_server)/launch/rosbridge_websocket_launch.xml">
    </include>
    <node pkg="web_video_server" exec="web_video_server" name="talker"> 
        <param name="port" value="8081"/>
    </node>
    <executable name="webserver_education_page" cmd="python3 -m http.server" output="screen" />
</launch>
