<?xml version="1.0"?>
<launch>
    <include file="$(find-pkg-share bitbots_education)/launch/education.launch">
    </include>
    <include file="$(find-pkg-share bitbots_webots_sim)/launch/simulation.launch">
    </include>
    <include file="$(find-pkg-share bitbots_bringup)/launch/motion_standalone.launch">
        <arg name="sim" value="true"/>
    </include>
</launch>
