<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <arg name="sim" default="false"
         description="true: activates simulation time and switches to simulation config" />
    <arg name="debug" default="false"
         description="true: activates publishing of the debug image" />

    <let if="$(env IS_ROBOT false)" name="taskset" value="taskset -c 6,7"/>
    <let unless="$(env IS_ROBOT false)" name="taskset" value=""/>

    <group unless="$(var sim)">
        <node pkg="bitbots_vision" exec="vision" name="bitbots_vision" output="screen"
              launch-prefix="$(var taskset)">
            <param from="$(find-pkg-share bitbots_vision)/config/visionparams.yaml" />
            <param name="components.debug_active" value="$(var debug)" />
        </node>
    </group>

    <group if="$(var sim)">
        <node pkg="bitbots_vision" exec="vision" name="bitbots_vision" output="screen"
              launch-prefix="$(var taskset)">
            <param from="$(find-pkg-share bitbots_vision)/config/visionparams_sim.yaml" />
            <param name="components.debug_active" value="$(var debug)" />
            <param name="use_sim_time" value="true" />
        </node>
    </group>
</launch>
