<launch>

  <include file="$(find wolfgang_description)/launch/wolfgang_rviz.launch">        
  </include>

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
    <rosparam param="/source_list">[/config/fake_controller_joint_states]</rosparam>
  </node>


</launch>
