<launch>

  <include file="$(find bitbots_common)/launch/load_robot_description.launch">
        <arg name="wolfgang" value="true"/>        
  </include>

  <node name="rviz" pkg="rviz" type="rviz" output="screen"
      args="-d $(find wolfgang_description)/config/wolfgang.rviz" >
  </node>


</launch>
