<launch>

  <group>
    <include file="$(find-pkg-share wolfgang_description)/launch/wolfgang_rviz.launch"/>
    <include file="$(find-pkg-share bitbots_bringup)/launch/load_robot_description.launch"/>
  </group>

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher">
    <param name="/use_gui" value="true"/>
  </node>

</launch>
