<launch>
    <arg name="tf_prefix" default=""/>
    <arg name="sim" default="false" />

    <let unless="$(env IS_ROBOT false)" name="taskset" value=""/>

    <node pkg="bitbots_head_mover" exec="move_head" output="screen" respawn="true">
        <param name="use_sim_time" value="$(var sim)" />
    </node>
</launch>
