<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <let if="$(env IS_ROBOT false)" name="taskset" value="taskset -c 6"/>
    <let unless="$(env IS_ROBOT false)" name="taskset" value=""/>

    <!-- camera driver -->
    <node pkg="pylon_ros2_camera_wrapper" exec="pylon_ros2_camera_wrapper" name="pylon_camera_node" output="screen" launch-prefix="$(var taskset)">
        <param from="$(find-pkg-share bitbots_basler_camera)/config/camera_settings.yaml" />
        <param name="device_user_id" value="$(env ROBOT_NAME default)" />
        <param name="camera_info_url" value="package://bitbots_basler_camera/config/camera_calibration_$(env ROBOT_NAME default).yaml" />
        <param name="startup_user_set" value="CurrentSetting" />
        <param name="enable_status_publisher" value="true" />
        <param name="enable_current_params_publisher" value="true" />
    </node>
    <!-- Debayer + Binning -->
    <node_container pkg="rclcpp_components" exec="component_container" name="head_camera_image_proc_container" namespace="" launch-prefix="$(var taskset)">
        <composable_node pkg="image_proc" plugin="image_proc::DebayerNode" name="debayer">
            <remap from="image_raw" to="/pylon_camera_node/image_raw"/>
            <remap from="camera_info" to="/pylon_camera_node/camera_info"/>
            <remap from="image_color" to="/camera/image_raw"/>
            <remap from="image_mono" to="/camera/image_mono"/>
        </composable_node>
        <composable_node pkg="image_proc" plugin="image_proc::CropDecimateNode" name="crop_decimate">
            <remap from="in/image_raw" to="/camera/image_raw"/>
            <remap from="in/camera_info" to="/pylon_camera_node/camera_info"/>
            <remap from="out/image_raw" to="/camera/image_proc"/>
            <remap from="out/camera_info" to="/camera/camera_info"/>
            <param from="$(find-pkg-share bitbots_basler_camera)/config/binning.yaml"/>
        </composable_node>
    </node_container>
</launch>
