<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <node pkg="bitbots_basler_camera" type="resizer.py" name="bitbots_resizer" output="screen">
        <rosparam command="load" file="$(find bitbots_basler_camera)/config/resizer.yaml"/>
        <!-- <param name="height" value="20" />
        <param name="width" value="30" /> -->
    </node>
</launch>