<launch>
    <arg name="ns" default="robot1"/>
    <rosparam command="load" ns="$(arg ns)" file="$(find bitbots_body_behaviour)/config/behaviour.yaml"/>
    <node name="body_behaviour" ns="$(arg ns)" pkg="bitbots_body_behaviour" type="body_behaviour.py" respawn="true" output="screen"/>
    <node name="head_behaviour" ns="$(arg ns)" pkg="bitbots_head_behaviour" type="head_node.py"/>

    <rosparam command="load" ns="$(arg ns)" file="$(find bitbots_pathfinding)/config/pathfinding_config.yaml"/>
    <node name="pathfinding" ns="$(arg ns)" pkg="bitbots_pathfinding" type="pathfinding_rnn.py">
        <param name="runpath" value="$(find bitbots_pathfinding)"/>
    </node>
</launch>