<launch>
  <arg name="sim" default="false"/>
  <arg name="walk" default="true"/>
  <arg name="kick" default="true"/>
  <arg name="standup_back" default="true"/>

  <group if="$(var walk)">
    <node pkg="bitbots_rl_motion" exec="walk_node" output="screen">
      <param from="$(find-pkg-share bitbots_rl_motion)/configs/pi_plus_walking_model_config.yaml" />
      <param from="$(find-pkg-share bitbots_rl_motion)/configs/pi_plus_walking_model_config.yaml" />
    </node>
  </group>

  <group if="$(var kick)">
    <node pkg="bitbots_rl_motion" exec="kick_node" output="screen">
      <param from="$(find-pkg-share bitbots_rl_motion)/configs/wolfgang_dribbling_model_config.yaml" />
    </node>
  </group>

  <group if="$(var standup_back)">
    <node pkg="bitbots_rl_motion" exec="standup_back_node" output="screen">
      <param from="$(find-pkg-share bitbots_rl_motion)/configs/pi_plus_standup_back_model_config.yaml" />
      <param name="use_sim_time" value="$(var sim)"/>
      <param name="use_sim_time" value="$(var sim)"/>
    </node>
  </group>
</launch>
