<launch>
  <node pkg="yesense_imu" exec="yesense_imu_node" name="yesense_imu_node" output="screen" required="true">
    <param name="yesense_port" value="/dev/ttyS7"/>
    <param name="yesense_baudrate" value="460800"/>
  </node>

  <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share yesense_imu)/rviz/yesense.rviz" required="true"/>
</launch>
