<launch>
  <include file="$(find-pkg-share livelybot_description)/launch/livelybot_description.launch"/>
  <node pkg="livelybot_bringup" exec="motor_move_zero" name="motor_move_zero" output="screen">
    <param from="$(find-pkg-share livelybot_description)/robot_param/robot.yaml"/>
  </node>
</launch>
