<launch>
    <arg name="gui" default="true"/>

    <param name="/simulation_active" value="true"/>
    <param name="/use_sim_time" value="true"/>

    <group if="$(arg gui)">
        <node pkg="wolfgang_pybullet_sim" type="simulation_with_gui.py" name="pybullet_sim" output="screen">
            <rosparam file="$(find wolfgang_pybullet_sim)/config/config.yaml"/>
        </node>
    </group>
    <group unless="$(arg gui)">
        <node pkg="wolfgang_pybullet_sim" type="simulation_headless.py" name="pybullet_sim" output="screen">
            <rosparam file="$(find wolfgang_pybullet_sim)/config/config.yaml"/>
        </node>
    </group>

    <include file="$(find wolfgang_webots_sim)/launch/imu_filter_sim.launch"/>
</launch>