<launch>
    <arg name="gui" default="true"/>

    <group if="$(var gui)">
        <node pkg="wolfgang_pybullet_sim" exec="simulation_with_gui.py" name="pybullet_sim" output="screen">
            <param from="$(find-pkg-share wolfgang_pybullet_sim)/config/config.yaml"/>
        </node>
    </group>
    <group unless="$(var gui)">
        <node pkg="wolfgang_pybullet_sim" exec="simulation_headless.py" name="pybullet_sim" output="screen">
            <param from="$(find-pkg-share wolfgang_pybullet_sim)/config/config.yaml"/>
        </node>
    </group>
</launch>