<launch>
    <arg name="use_game_settings" default="false"/>

    <rosparam command="load" file="$(find humanoid_league_game_controller)/config/game_controller.yaml" />

    <node pkg="humanoid_league_game_controller" type="game_controller_node" name="game_controller_node" output="screen" respawn="true"/>

     <group if="$(arg use_game_settings)">
        <rosparam command="load" file="$(find bitbots_bringup)/config/game_settings.yaml" />
    </group>
</launch>
