<?xml version="1.0"?>
<launch>
    <arg name="minibot" default="false" />
    <arg name="wolfgang" default="true" />
    
    <include file="$(find bitbots_common)/launch/load_robot_description.launch">
        <arg name="minibot" value="$(arg minibot)"/>
        <arg name="wolfgang" value="$(arg wolfgang)"/>   
    </include>


    <include file="$(find bitbots_head_behaviour)/launch/head_behaviour.launch"/>

    
</launch>
