<launch>
    <rosparam command="load" file="$(find bitbots_head_behaviour)/config/head_config.yaml"/>
    <rosparam param="actionlib_client_sub_queue_size">-1</rosparam>
    <rosparam param="actionlib_server_sub_queue_size">-1</rosparam>
    <node name="head_behaviour"  pkg="bitbots_head_behaviour" type="head_node.py" respawn="true" output="screen"/>
</launch>
