<launch>
    <arg name="use_game_settings" default="false"/>
    <arg name="tf_prefix" value="$(eval env('ROS_NAMESPACE') + '/' if env('ROS_NAMESPACE') !=  '' else '')"/>

    <param from="$(find-pkg-share humanoid_league_game_controller)/config/game_controller.yaml" command="load"/>

    <node name="team_communication" pkg="humanoid_league_team_communication" exec="humanoid_league_team_communication.py"  output="screen">
        <param from="$(find-pkg-share humanoid_league_team_communication)/config/team_communication_config.yaml" command="load"/>
        <param name="map_frame" value="$(var tf_prefix)map" />
    </node>

    <group if="$(var use_game_settings)">
        <rosparam command="load" file="$(find-pkg-share bitbots_bringup)/config/game_settings.yaml" />
    </group>
</launch>
