<launch>
    <arg name="use_game_settings" default="false"/>
    <let name="tf_prefix" value="$(eval '\'$(env ROS_NAMESPACE not_defined)\' if \'$(env ROS_NAMESPACE not_defined)\' != \'not_defined\' else \'\'')"/>

    <group unless="$(var use_game_settings)">
        <node pkg="humanoid_league_team_communication" exec="team_comm"  output="screen">
            <param from="$(find-pkg-share humanoid_league_game_controller)/config/game_controller_settings.yaml"/>
            <param from="$(find-pkg-share humanoid_league_team_communication)/config/team_communication_config.yaml"/>
            <param name="map_frame" value="$(var tf_prefix)map" />
        </node>
    </group>
    <group if="$(var use_game_settings)">
    <node pkg="humanoid_league_team_communication" exec="team_comm"  output="screen">
            <param from="$(find-pkg-share humanoid_league_game_controller)/config/game_controller_settings.yaml"/>
            <param from="$(find-pkg-share humanoid_league_team_communication)/config/team_communication_config.yaml"/>
            <param name="map_frame" value="$(var tf_prefix)map" />
            <param from="$(find-pkg-share bitbots_utils)/config/game_settings.yaml" />
        </node>
    </group>
</launch>
