<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>
    <arg name="torqueless_mode" default="false"/>
    <arg name="only_imu" default="false"/>
    <arg name="only_pressure" default="false"/>

    <include file="$(find-pkg-share bitbots_bringup)/launch/base.launch"/>

    <include file="$(find-pkg-share bitbots_ros_control)/launch/ros_control.launch">
        <arg name="sim" value="$(var sim)"/>
        <arg name="torqueless_mode" value="$(var torqueless_mode)"/>
        <arg name="only_imu" value="$(var only_imu)"/>
        <arg name="only_pressure" value="$(var only_pressure)"/>
    </include>
</launch>
