<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>
    <arg name="minibot" default="false"/>
    <arg name="wolfgang" default="false"/>

    <group if="$(arg minibot)">
        <rosparam file="$(find bitbots_ros_control)/config/minibot.yaml" command="load" />
    </group>
    <group if="$(arg wolfgang)">
        <rosparam file="$(find bitbots_ros_control)/config/wolfgang.yaml" command="load" />
    </group>

    <node pkg="bitbots_ros_control" type="dynamixel_controller_manager_node" name="ros_control" output="screen"/> 

    <rosparam file="$(find bitbots_ros_control)/config/controller.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="joint_state_controller imu_sensor_controller JointGroupController">
    </node>
</launch>