<library path="src">
  <class name="RecordUI" type="bitbots_recordui_rqt.record_ui.RecordUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      TODO
    </description>
    <qtgui>
      <group>
        <label>RoboCup</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to RoboCup.</statustip>
      </group>
      <label>Animation record</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>TODO</statustip>
    </qtgui>
  </class>
</library>
