<launch>
    <arg name="sim" default="false"/>
    <arg name="file" default="" />

    <node pkg="bitbots_visual_compass" type="visual_compass_setup.py" name="bitbots_visual_compass_setup" output="screen">
        <rosparam command="load" file="$(find bitbots_visual_compass)/config/config.yaml"/>
        <param name="ground_truth_file_name" value="$(arg file)" />
    </node>

    <!-- start the camera only when necessary -->
    <group unless="$(arg sim)">
        <include file="$(find wolves_image_provider)/launch/image_provider.launch" />
    </group>

    <!-- remap stuff to fit the robot -->
    <group if="$(arg sim)">
        <param name="use_sim_time" value="true"/>
        <remap to ="/camera/image_raw" from="/image_raw"/>
    </group>
</launch>
