<!DOCTYPE html>
<html class="h-full">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='bitBot_color.svg') }}" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2@6.4.9/lib/eventemitter2.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<script type="text/javascript" >
  // Connecting to ROS
  // -----------------

  var ros = new ROSLIB.Ros({
    url : `ws://${window.location.hostname}:9090`
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  });

  ros.on('error', function(error) {
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    console.log('Connection to websocket server closed.');
  });

  let behavior_changes = true;
</script>

</head>
<body class="h-full bg-sky-800 flex justify-center items-start p-0 sm:p-8">
  <div class="w-full max-w-md h-full shadow-xl sm:rounded-3xl overflow-hidden sm:border-2 sm:border-zinc-800">
    <div class="h-full flex justify-between flex-col">
      <div class="grid place-items-center p-4 bg-zinc-100 border-b-2 border-zinc-800 shadow-md">
        <h1 id="banner" class="text-2xl font-medium">
          {% block banner %}{% endblock %}
        </h1>
      </div>
      <div id="content" class="overflow-scroll">
        {% block content %}{% endblock %}
      </div>
      <div id="icons">
        {% block icons %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
