<!DOCTYPE html>
<html class="h-full">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2@6.4.9/lib/eventemitter2.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<script type="text/javascript" >
  // Connecting to ROS
  // -----------------

  var ros = new ROSLIB.Ros({
    url : `ws://${window.location.hostname}:9090`
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  });

  ros.on('error', function(error) {
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    console.log('Connection to websocket server closed.');
  });

  let behavior_changes = true;
</script>

</head>
<body class="h-full bg-cover bg-sky-800">
  <script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
        const url = new URL(evt.detail.path, window.location.origin);
        url.searchParams.set('_', Date.now()); // cache-busting query param
        evt.detail.path = url.pathname + url.search;
      });

      // This enables us to use the htmx with both partial and full page loads without a dynamic backend
      // It loads the page for a full page load dynamically by injecting the partial page into the index.html
      document.addEventListener("DOMContentLoaded", function () {
        // Get url parameter
        const urlParams = new URLSearchParams(window.location.search);
        const page = urlParams.get('page') || 'dashboard'; // Default to 'dashboard' if no page is specified
        htmx.ajax('GET', `pages/${page}.html`, {
          target: '#content',
          swap: 'innerHTML'
        });
      });
  </script>
  <div class="h-full flex justify-between flex-col">
    <div class="grid place-items-center p-4 bg-zinc-100 border-b-2 border-zinc-800 shadow-md">
      <h1 id="banner" class="text-2xl font-medium"></h1>
    </div>
    <div id="content" class="overflow-scroll">
    </div>
    <div id="icons"></div>
  </div>
</body>
</html>
