bitbots_localization:
  ros__parameters:
    misc:
      init_mode: 0
      percentage_best_particles: 50
      min_motion_linear: 0.0
      min_motion_angular: 0.0
      filter_only_with_motion: false
      #network_model_path: '/homes/15guelden/gits/bitbots_deep_localization/runs/265-swift-disco/latest_traced.pth'
      network_model_path: '/homes/15guelden/gits/bitbots_deep_localization/runs/269-swept-silence/latest_traced.pth'
      #network_model_path: '/homes/15guelden/gits/bitbots_deep_localization/runs/270-cosmic-lion/latest_traced.pth'
    ros:
      line_pointcloud_topic: 'line_mask_relative_pc'
      line_mask_topic: 'line_mask_in_image'
      goal_topic: 'goals_simulated'
      fieldboundary_topic: 'field_boundary_relative'
      particle_publishing_topic: 'pose_particles'
      debug_visualization: true
    particle_filter:
      particle_number: 300
      rate: 10
      resampling_interval: 2
      diffusion:
        x_std_dev: 0.8
        y_std_dev: 0.8
        t_std_dev: 0.9
        multiplier: 0.001
        starting_multiplier: 0.05
        starting_steps_with_higher_diffusion: 40
      drift:
        distance_to_direction: 2.0
        rotation_to_direction: 0.0
        distance_to_distance: 0.1
        rotation_to_distance: 0.2
        distance_to_rotation: 0.0
        rotation_to_rotation: 3.0
        max_rotation: 0.45
        max_translation: 0.09
      weighting:
        min_weight: 0.01
        particle_reset_weight: 0.1
        out_of_field_weight_decrease: 0.01
        out_of_field_range: 0.5 
      scoring:
        lines:
          factor: 1.0
          out_of_field_score: 0.0
        goal:
          factor: 0.0
          out_of_field_score: 0.0
        field_boundary:
          factor: 0.0
          out_of_field_score: 0.0
      confidences:
        line_element: 0.01
        goal_element: 0.0
        field_boundary_element: 0.0


    
    
