<?xml version="1.0"?>
<launch>

    <node pkg="bitbots_ros_control" exec="pressure_converter">
        <param from="$(find-pkg-share bitbots_ros_control)/config/pressure_converter.yaml" />
        <param from="$(find-pkg-share bitbots_ros_control)/config/pressure_$(env ROBOT_NAME nobot).yaml" />
    </node>

</launch>
