<library path="src">
  <class name="MotionViz" type="motion_viz.motion_viz.MotionViz" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize the bitbots motion state machine from the package bitbots_motion.
    </description>
    <qtgui>
      <group>
        <label>Introspection</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to introspection.</statustip>
      </group>
      <label>Motion Viz</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin to visualize the bitbots motion state machine from the package bitbots_motion.</statustip>
    </qtgui>
  </class>
</library>
