<?xml version="1.0"?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="use_darwin" default="false"/>

  <arg if="$(env IS_ROBOT false)" name="taskset" default="taskset -c 3"/>
  <arg unless="$(env IS_ROBOT false)" name="taskset" default=""/>

  <include file="$(find-pkg-share bitbots_bringup)/launch/load_robot_description.launch" >
      <arg name="sim" value="$(var sim)"/>
  </include>

  <group if="$(var use_darwin)">
    <param from="$(find-pkg-share bitbots_quintic_walk)/config/walking_darwin_optimization.yaml"/>
  </group>

  <group unless="$(var use_darwin)">
      <group unless="$(var sim)">
        <include file="$(find-pkg-share bitbots_ros_control)/launch/ros_control.launch" />
      </group>
  </group>

  <group if="$(var sim)">
    <param from="$(find-pkg-share bitbots_rl_motion)/config/rl_walk_sim.yaml"/>
  </group>
  <group unless="$(var sim)">
    <param from="$(find-pkg-share bitbots_rl_motion)/config/rl_walk_real.yaml"/>
  </group>
  <node name="walking" pkg="bitbots_rl_motion" exec="rl_walk.py" output="screen" launch-prefix="$(var taskset)">
      <remap from="/walking_motor_goals" to="/DynamixelController/command"/>
  </node>
</launch>
