<library path="src">
  <class name="HcmViz" type="bitbots_hcm_viz.hcm_viz.HcmViz" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize the bitbots motion state machine from the package bitbots_hcm.
    </description>
    <qtgui>
      <group>
        <label>RoboCup</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to RoboCup.</statustip>
      </group>
      <label>Motion Viz</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin to visualize the bitbots motion state machine from the package bitbots_hcm.</statustip>
    </qtgui>
  </class>
</library>
