<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="duty" default="TeamPlayer"/>
    <arg name="wolfgang" default="true" />
    <arg name="simple" default="false" />

    <include file="$(find-pkg-share bitbots_utils)/launch/base.launch" />

    <include file="$(find-pkg-share bitbots_body_behavior)/launch/behavior.launch">
        <arg name="simple" value="$(var simple)" />
    </include>
</launch>
