<launch>
    <arg name="wolfgang" default="false" />

    <!-- TODO: this will not stay here -->
    <param name="game_settings/role" value="offense" />

    <include file="$(find bitbots_body_behavior)/launch/body_behavior.launch"/>
    <include file="$(find bitbots_head_behavior)/launch/head_behavior.launch"/>
</launch>
