<launch>
    <arg name="sim" default="false" />

    <include file="$(find-pkg-share bitbots_body_behavior)/launch/body_behavior.launch">
        <arg name="sim" value="$(var sim)" />
    </include>

    <include file="$(find-pkg-share bitbots_head_mover)/launch/head_mover.launch">
        <arg name="sim" value="$(var sim)" />
    </include>
</launch>
