<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>
    <arg name="torqueless_mode" default="false"/>
    <arg name="only_imu" default="false"/>
    <arg name="only_pressure" default="false"/>

    <let if="$(env IS_ROBOT false)" name="taskset" value="taskset -c 0"/>
    <let unless="$(env IS_ROBOT false)" name="taskset" value=""/>

    <node pkg="bitbots_ros_control" exec="ros_control" output="screen" launch-prefix="$(var taskset)">
        <param from="$(find-pkg-share bitbots_ros_control)/config/wolfgang.yaml" />
        <param name="torqueless_mode" value="$(var torqueless_mode)"/>
        <param name="only_imu" value="$(var only_imu)"/>
        <param name="only_pressure" value="$(var only_pressure)"/>
    </node>

    <node pkg="diagnostic_aggregator" exec="aggregator_node" args="--ros-args --log-level WARN">
        <param from="$(find-pkg-share bitbots_ros_control)/config/analyzers.yaml" />
    </node>
    <node pkg="bitbots_ros_control" exec="led_error_blink.py" name="error_blink"/>

    <node pkg="bitbots_ros_control" name="button_zero" exec="zero_on_button.py"/>

    <node pkg="bitbots_ros_control" name="battery_led" exec="battery_led.py"/>

    <group>
        <include file="$(find-pkg-share system_monitor)/launch/system_monitor.launch"/>
        <include file="$(find-pkg-share bitbots_buttons)/launch/buttons.launch"/>
        <include file="$(find-pkg-share humanoid_league_speaker)/launch/speaker.launch"/>
        <!--include file="$(find-pkg-share bitbots_ros_control)/launch/pressure_converter.launch"/-->
    </group>

</launch>

