<launch>
     <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
    </include>

    <rosparam file="$(find bitbotsQuinticWalk)/config/walking_wolfgang_viz.yaml" command="load"/>

    <param name="/walking/publishOdomTF" type="bool" value="True" />

    <node name="walking" pkg="bitbotsQuinticWalk" type="QuinticWalkingNode" respawn="true" output="screen"/>
    <node name="joint_goal_viz" pkg="bitbots_bringup" type="motor_goals_viz_helper.py" respawn="false" output="screen" args="--walking"/>

</launch>
