<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>

    <arg name="no_node" default="false"/>
    <include file="$(find-pkg-share bitbots_utils)/launch/base.launch">
        <arg name="sim" value="$(var sim)"/>
    </include>

    <include file="$(find-pkg-share bitbots_quintic_walk)/launch/quintic_walk.launch">
        <arg name="sim" value="$(var sim)"/>
        <arg name="no_node" value="$(var no_node)"/>
    </include>
</launch>