<launch>
  <arg name="tf_prefix" value="$(eval env('ROS_NAMESPACE') + '/' if env('ROS_NAMESPACE') !=  '' else '')"/>
  <arg name="sim" default="false"/>
  <arg name="wolfgang" default="false"/>
  <arg name="use_game_settings" default="false"/>
  <arg name="no_node" default="false"/>

  <arg if="$(env IS_ROBOT false)" name="taskset" default="taskset -c 3"/>
  <arg unless="$(env IS_ROBOT false)" name="taskset" default=""/>

  <group if="$(var sim)">
    <param from="$(find-pkg-share bitbots_quintic_walk)/config/walking_wolfgang_simulator.yaml" command="load"/>
        <group if="$(var use_game_settings)">
            <rosparam command="load" file="$(find-pkg-share bitbots_bringup)/config/game_settings.yaml" />
        </group>
  </group>
  <group unless="$(var sim)">
    <param from="$(find-pkg-share bitbots_quintic_walk)/config/walking_wolfgang_robot.yaml" command="load"/>
        <group if="$(var use_game_settings)">
            <rosparam command="load" file="$(find-pkg-share bitbots_bringup)/config/game_settings.yaml" />
        </group>
  </group>   
  <group unless="$(var no_node)">
    <node name="walking" pkg="bitbots_quintic_walk" exec="WalkNode" output="screen" launch-prefix="$(var taskset)">
      <param name="base_link_frame" value="$(var tf_prefix)base_link"/>
      <param name="r_sole_frame" value="$(var tf_prefix)r_sole"/>
      <param name="l_sole_frame" value="$(var tf_prefix)l_sole"/>
      <param name="odom_frame" value="$(var tf_prefix)odom"/>
    </node>
  </group>
</launch>
