<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>

    <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
 
    </include>

    <include file="$(find bitbotsQuinticWalk)/launch/quintic_walk.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>
</launch>