<launch>
    <arg name="robot_type" default="wolfgang"/>
    <group>
        <include file="$(find-pkg-share bitbots_utils)/launch/base.launch">
            <arg name="robot_type" value="$(var robot_type)"/>
        </include>
    </group>

    <node pkg="bitbots_quintic_walk" exec="WalkNode" output="screen">
        <param from="$(find-pkg-share bitbots_quintic_walk)/config/walking_$(var robot_type)_viz.yaml"/>
    </node>

    <node pkg="bitbots_utils" exec="motor_goals_viz_helper.py" output="screen" args="--walking --robot-type $(var robot_type)"/>
    <node pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share bitbots_quintic_walk)/config/walk.rviz" name="walk_rviz"/>
    <node pkg="bitbots_utils" exec="dummy_imu.py"/>

</launch>
