<launch>

  <!--<include file="$(find bitbots_vision_common)/launch/vision_processing.launch" />-->
   <!--  <node name="bitbots_ballclassifier"  pkg="bitbots_ballclassifier" type="keras_cnn_classifier.py">
        <param name="/runpath" value="$(find bitbots_ballclassifier)"/>
    </node>
    -->
  <include file="$(find bitbots_soccer_vision)/launch/bitbots_soccer_vision.launch" />
  <include file="$(find bitbots_ball_filter)/launch/bitbots_ball_filter.launch" />


  <include file="$(find wolves_image_provider_v4l)/launch/image_provider_v4l.launch" />
  <!--
  <remap from ="usb_cam/image_raw" to="image_raw"/>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" args="" />
  -->
</launch>
