<launch>

    <arg name="sim" default="false"/>
    <arg name="minibot" default="false"/>
    <arg name="wolfgang" default="false"/>
    <arg name="debug" default="false"/>

    <!-- start vision for minibot (cascade)-->
    <group if="$(arg minibot)">
        <include file="$(find bitbots_vision)/launch/bitbots_vision.launch">
            <arg name="debug" value="$(arg debug)" />
            <arg name="classifier" value="cascade" />
        </include>
    </group>
    <!-- start vision for wolfgang (fcnn)-->
    <group if="$(arg wolfgang)">
        <include file="$(find bitbots_vision)/launch/bitbots_vision.launch">
            <arg name="debug" value="$(arg debug)" />
            <arg name="classifier" value="fcnn" />
        </include>
    </group>

    <!-- start the camera only when necessary -->
    <group unless="$(arg sim)">
        <include file="$(find wolves_image_provider_v4l)/launch/image_provider_v4l.launch" />
    </group>
    <!-- remap stuff to fit the robot -->
    <group if="$(arg sim)">
        <remap to ="/minibot/camera/image_raw" from="/image_raw"/>
    </group>
</launch>

