<launch>

    <node name="bitbots_dummyvision" pkg="bitbots_vision" type="vision.py" respawn="True" output="screen"/>
    <!--<node name="bitbots_ballclassifier"  pkg="bitbots_ballclassifier" type="keras_cnn_classifier.py" respawn="True">
    #    <param name="/runpath" value="$(find bitbots_ballclassifier)"/>
    #</node-->

</launch>
