name: Build & Test
on:
  schedule:
    - cron: '12 3 * * *'
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PSModulePath: ""  # Otherwise colcon might think that PowerShell is being used

    steps:
      - name: Cancel outdated jobs
        uses: fkirc/skip-duplicate-actions@v5.3.1
        with:
          cancel_others: 'true'

      # Remove comments to spawn an interactive debugging ssh shell in the ci
      #- name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      #   with:
      #     detached: true

      - name: Check out repository
        uses: actions/checkout@v6.0.2

      - name: Configure git to trust repository
        run: git config --global --add safe.directory /__w/bitbots_main/bitbots_main

      - name: Install host dependencies
        run: scripts/make_basler.sh --ci

      - name: Set up workspace
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.63.1
          cache: true

      - name: Build
        run: pixi run build

      - name: Test
        run: pixi run test --parallel-workers 1
