name: Code style checks

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-slim
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up workspace
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.59.0
          cache: true
          environments: format

      - name: Run pre-commit
        run: pixi run -e format format
